[2018-10-24 17:03] amaatouq opened #2 "canceling game is not working as expected"
Stopping a batch from the admin UI no longer works correctly (after the recent fix). It is supposed to take the participant to the exit survey with `exitStatus ==  gameCancelled` however, it just redirects the participant to `No experiments available`

[2018-10-24 17:28] amaatouq opened #3 "closing the browser does not remove the player from the lobby"
Now when a player closes the browser while waiting in the lobby, they keep being in the lobby and are not dropped.

[2018-10-24 17:32] amaatouq opened #4 "between init & round (no experiments) is shown"
after the lobby is filled and before the game starts, we used to have a screen telling players that we are loading the game. Now it shows 'no experiments available' and then the game starts.

[2018-10-24 19:12] amaatouq commented on #4
aah this is only for the last player to enter the game .. the rest see the loading page.

[2018-10-25 08:17] npaton commented on #2
Ok, yeah, I overfixed the cancellation. So the expected behavior is, on batch cancel:
- player is in game: go to exit
- player is in lobby: go to exit
- player has entered their player ID (in intro steps): go to exit
- player has NOT entered their player ID: no experiment available

Correct?

[2018-10-25 08:18] npaton commented on #4
This should be fixed with the next update.

[2018-10-25 11:29] amaatouq commented on #4
I think this issue can prevent running experiments— given that the game loading takes around 40 seconds and the last player to join the game doesn’t see the loading page but the acreen freezes on the quiz and then they see no experiment available until the game starts. Several people in a pilot today closed their browser during that and did not play thinking there are no experiments.

[2018-10-25 12:43] amaatouq commented on #2
Yes!

[2018-10-25 20:55] joshua-a-becker opened #5 "Problems when many players are dumped simultaneously into the lobby"
I'm still investigating this issue, but wanted to post it to keep track of my progress, as per Abdullah's recommendation.

**Background:**
I have a funnel system that keeps people at a waiting page---instructions and consent happens prior to this waiting page---and then dumps them all into the lobby at the exact same time.

This has posed various problems, with one of the main odd symptoms in the

[2018-10-25 21:12] amaatouq commented on #5
Not if you choose a lobby configuration where the timeout is 30 seconds at the individual level (rather than lobby level) and some high number of prompts, right?

Which version of empirica are you using? (if you know the version you forked?)
A similar issue was fixed in early August.

[2018-10-25 21:36] joshua-a-becker commented on #5
last git pull from empirica was on sept 12

have there been any updates that would impact this?

i think i'm going to take this moment to finally update my core anyway, but it would be useful to know if there were any changes to the game assignment process before i try this method again.

[2018-10-25 21:45] joshua-a-becker commented on #5
in addition to my interest in synchronizing start time for other reasons,  I went this route b/c when I test the "individual" lobby (same version from Sept 12---just tested it now) people get assigned to a game when the dialogue box is open, so it doesn't prevent them from being assigned to a game if they walked away from their computer.   I'll check on that when I update.

[2018-10-25 22:38] joshua-a-becker commented on #5
as far as i can tell from a git diff, there have been no updates to any of the API methods since i last pulled, or anything else that would have fixed this :/   (whatever "this" is---i still don't get what's going on)

[2018-10-26 00:42] joshua-a-becker commented on #5
@npaton i'd be really curious if you have any insights into this.  for now, i'm going to attempt to solve the problem by introducing an artificial delay of up to 20 seconds (random number) for each user, to spread the dump into the lobby out but still get people basically synchronized with start times.   but i'm a bit concerned that won't work b/c that would still have 5 people per second entering

[2018-10-26 22:10] joshua-a-becker commented on #5
Was able to replicate the behavior with headless browser (RSelenium) bots:  many users sent to "gameFull" while other users started half-empty games.  (or are they half full....?)

What's weird is that there appear to be more games than batches should allow:  each batch has a "game count" = 1, but there are multiple unique gameId for each batchId.   this supports my suspicion that the db calls are

[2018-10-27 14:29] joshua-a-becker commented on #5
I tried adding a random delay up to 10 seconds;  this failed for 45 users:  20 were assigned to a game (entirely filling the batch) and the other 25 were set exitStatus=full

[2018-10-27 14:38] amaatouq commented on #5
This is beyond my expertise, but I am guessing you are right. It has to do with the simultaneous  calls .. I don’t know if Nicolas has ideas about fixing things at the assignment level (as in blocking so assignment calls are sequential)

[2018-10-27 15:02] joshua-a-becker commented on #5
my next step is:   determine whether the problem is in the players/methods.js api or the games/create.js api--currently those both set identical exitStatuses so i'm going to disambiguate them.

[because it's very odd to me that in my 45 user test, there were 25 users turned away when their player$lobbyId points to a lobby that is open, and they're queued, which makes me think its happening in crea

[2018-10-27 21:38] joshua-a-becker commented on #5
Actually, now I'm unable to replicate that 45 user test---things seem to be working _pretty _well_ with a 10 second dispersal delay.   I'll keep testing this to see if it's reliable but I might have a workable fix for now.

[2018-10-28 03:11] npaton commented on #2
This was fixed in `empirica:core` v0.0.6.

[2018-10-28 03:13] npaton commented on #4
This should be fixed with `empirica:core` v0.0.6.

@amaatouq The 40s to create a game is absurdly slow, could you create a ticket for that and point me to the code that produces this issue. Thanks.

[2018-10-28 03:15] npaton commented on #3
I cannot reproduce this issue. Players are removed from the ready queue when the leave the lobby (close browser or navigate away from site). Could you provide me with steps to reproduce? Thanks!

[2018-10-28 03:38] npaton commented on #5
Sorry I'm late to the party! I was knocked out last 48h by a nasty flu type thing, and was on vacation previously. I've been seeing messages of your issue go by and I've been meaning to look at it, sorry for the delay!! Anyway, yes, ok, I see the problem.

So if I understand well, there are no intro steps, and you are using `playerIdParam`, the 2 of which, combined with the fact you send everyone

[2018-10-28 03:58] npaton commented on #5
To skip intro steps, are you just not returning any intro steps for the introSteps callback, or are you using "debug mode", starting the batch in the admin while pressing cmd or ctrl?

Edit: I don't think you're using the "debug mode", that would be even more broken.

[2018-10-28 04:16] npaton commented on #5
Hum. Reading through the code about this, I think I see the problem with players getting `gameFull`. It'
s kind of an expected behavior, in a sense. On player creation, we assign the player to the first unfilled batch, which if it only contains one game and we throwing players at the app, we will probably overbook that game. Normally, we have an overflow system that will push players to the next b

[2018-10-28 04:55] joshua-a-becker commented on #5
Ok good.  So most of this is explained as expected behavior.  The multiple-game-assignment is weird, but does not seem to cause the problem.

- yes, one quad container on Galaxy
- correct, no consent or instructions (an empty array) but have playerIdParam in url
- currently experimenting with adding an instructions step--thats where I now add a random waiting period.  Won't solve the problem thoug

[2018-10-28 05:49] joshua-a-becker commented on #5
upon reflection:  i'm should be able to quickly write up a simple version tomorrow w/ standard production using an instructions page for a timer, and just manually setting "global configs" in the DB for the time, and i can just create the mongo subscription script right in the experimenter zone.

will report back; i'll hold off on sharing any code until then since this will make it a lot easier fo

[2018-10-28 13:04] npaton commented on #5
Thank you @joshua-a-becker.

The one(s) that did not go well. I'm most interested by the one player assigned to multiple games issues.

Let me know how it goes with the things you want to test. If you can get this to work as is, it might be better than working too hard on fixing the core, and allocate that time instead into the complete rework of assignment we want to do anyway. For that work, I'd

[2018-10-28 14:29] npaton opened #6 "Add lobby component override support"
As an experiment designer, I want to be able to customize the Lobby content and looks.

Proposed API: `Empirica.lobby(LobbyComponent)`.

[2018-10-28 15:04] joshua-a-becker opened #7 "playerIdKey in settings creates inconsistent behavior for "new player" button"
`Meteor.settings.public.playerIdParam` sets the playerIdKey that is looked for when creating a user enters the platform, but does not impact the behavior of the "New Player" button, and users are still asked to enter a player ID.  This param also is not used in IdentifiedContainer.jsx which means that when manually entering a new player with a URL, the user is logged in as whatever their previous

[2018-10-28 15:05] joshua-a-becker commented on #7
this should be fixed so that *either* the playerIdKey param in settings is ignored in dev mode, *or* the param impacts all uses of the playerIdKey, to produce predictable behavior for the experimenter.

i'm submitting a pull request for the latter solution---implement the param throughout.

i don't know how to test things on core now---this was tested on the deprecated version.

[2018-10-28 15:51] npaton opened #9 "Round component is not always reloaded between rounds/stages"
Sometimes, the inter-stage/inter-round phase does not happen, and the Round component is not unloaded. This leads to component initializations from Round downwards to not happen, which might break state initialization.

We should make sure to always unload then reload the Round component between Rounds/Stages.

This happens notably when the tab is in the background in Chrome.

[2018-10-28 16:08] npaton commented on #7
Hey @joshua-a-becker. I'm not sure the "New Player" debugging tool for development should be mixed up with the `playerIdParam` option. The `playerIdKey` is NOT the same thing as the playerId, it is a key used to lookup the player ID in the browser cache, it is not the playerId itself, so it should not be used along with playerIdParam to automatically log in players.

I can see how automatically lo

[2018-10-28 16:28] joshua-a-becker commented on #7
ok i think i see the issue--when i override this, i expose myself to the possibility that people will play more than one user in their browser, perhaps if they have two MTurk ID's.  at present, in production mode, it's not possible to do that since there is only a single cache key for playerIdParam.  what i was calling a bug, you're calling a feature.

i actually really _like_ being able to play m

[2018-10-28 16:29] joshua-a-becker commented on #7
but

right now, it is:  changing the playerIdParam changes the behavior of this button.

[2018-10-28 19:13] joshua-a-becker opened #10 "content is longer than page"
at present, i'm looking at instructions:  the content is longer than the page, introducing an unnecessary scrollbar

i have not totally investigated this yet;  i suspect the height of "main" is being calculated,  but is not compensating for the height of the navbar.  one way to resolve this is by setting `position=absolute` for the navbar, and adding padding to the other content so it's not hidden

[2018-10-28 20:51] joshua-a-becker commented on #6
this product already is great, it's going to be so amazing with all these updates.

[2018-10-28 22:18] joshua-a-becker commented on #7
OK i have realized my confusion stems from the fact that (i thought i once saw) an example settings.json where playerIdParam=playerIdKey

so i now realize i'm asking for a totally new feature:  have the 'add new player' button pass in the playerIdParam so that you don't have to enter one.  just a shortcut for experimenters, really not that important.

[2018-10-28 22:18] #7 closed

[2018-10-28 23:52] joshua-a-becker opened #11 "Multiple games assigned to player"
This relates to Issue #5 but specifically pertains to the multiple games created per player

everything else in issue #5 is expected behavior

Code to replicate this error & a datadump of an example can be found at:
https://github.com/joshua-a-becker/empirica-default

This contains
- an app made with `npx create-empirica-app` containing nothing custom except an instructions page that creates a tim

[2018-10-28 23:54] joshua-a-becker commented on #5
replicated problem using standard `npx create-empirica-app` with no core modifications, saved datadump in github.  created issue #11 to track this specific possible-bug

https://github.com/empiricaly/meteor-empirica-core/issues/11

[2018-10-28 23:55] joshua-a-becker commented on #5
y'alls call whether to leave this issue open (i'm now going to try to get it to work, using tricks like 20 second delays, happy to track my progress) or close it.

i will also be following up on this issue once the assignment feature is exposed to experimenters, which should theoretically allow a proper solution to the problem

p.s. not sure if i've already said it elsewhere, the new beta version

[2018-10-29 13:18] npaton commented on #7
An automated random playerId could be a useful feature to speed up testing/debugging. Feel free to add a ticket at some point. ;)

For the signed URL type feature, I can clearly see the use for it, but it's a pretty advanced feature, since there needs to be some sort of secret hashing or signing happing on the system sending players over, which I'm not sure would be possible out of the box with MT

[2018-10-29 13:20] npaton commented on #5
I'd be interested in keeping track with the solution you come up with, if you don't mind keeping at logging that here.

And I am closing the issue if you think it is something you can workaround for now, knowing that we are working on the overall solution: better assignment.

[2018-10-29 13:20] #5 closed

[2018-10-29 13:23] npaton commented on #10
I am not sure what the scenario is. When you have an instruction step higher than the available space on the page, scrollbars appear? Would you have a screenshot to illustrate this? (maybe black out private parts of screenshot if there are some).

[2018-10-29 13:25] npaton commented on #11
Thank you for this, I will take a look at soon as I can.

[2018-10-29 14:10] npaton commented on #11
I did take a quick look and something quite bad is happening, but in a clean way. 👺A single game lobby is initiating the creation of multiple identical games. That's obviously horrible. But at least it's in one place, it's some distributed issue where different players are dropped into various games. I don't really understand at the moment how it's possible, there's a barrier at the beginning of t

[2018-10-30 00:24] amaatouq opened #12 "Improve/fix debug mode"
selecting a complete randomization with more than one treatment and starting the batch in debug mode will enter the debug mode for only one of the games, but not all the games in the batch.

[2018-10-30 00:27] amaatouq commented on #12
they will all have the long timer, but skipping the instructions will happen only for one.

[2018-10-30 19:15] amaatouq opened #13 "csv export is not working correctly"
it exports everything as one line rather than a line per record.

[2018-10-30 19:15] #2 closed

[2018-10-30 19:15] #4 closed

[2018-10-30 19:16] amaatouq commented on #4
I will do that after I benchmark it again. These things are happening in the `guess the correlation` experiment with 20 rounds and 12 players.

[2018-10-30 19:17] amaatouq commented on #10
yes, @joshua-a-becker I think I am noticing something like this. So if there is one page where the scrollbars appear because of the length of the content, it remains for the other pages of the experiment (i.e., you can always scroll down even when it is not needed).

[2018-10-30 22:48] joshua-a-becker commented on #10
this occurs for the default setup no customization

chrome Version 69.0.3497.100 (Official Build) (64-bit)

see scrollbar at [screenshot](https://i.imgur.com/KQKRoz1.png)

[2018-10-31 09:02] npaton commented on #13
This should be fixed with v0.0.7.

[2018-10-31 09:19] npaton commented on #10
This will be fixed in the upcoming v0.0.8.

[2018-10-31 09:20] npaton commented on #3
@amaatouq Have you encountered this issue again? It's working for me.

[2018-10-31 09:54] npaton commented on #12
The way debug mode is implemented is super sketchy. I tried to figure out this issue without success. I think it would be best to not fix this issue now, and wait for the rewrite of debug mode, which I've been planning since debug mode was thrown together. We can keep this ticket to track the issue in any case.

But let me know if this is very harming and really needs a near term fix.

[2018-10-31 11:38] npaton commented on #10
v0.0.8 published.

[2018-10-31 11:38] npaton commented on #6
This feature was added as of v0.0.8.

[2018-10-31 11:39] #6 closed

[2018-10-31 11:40] npaton commented on #6
The API is `Empirica.lobby(LobbyComponent)`, the LobbyComponent receives gameLobby, treatment and player props. Documentation coming soon.

[2018-10-31 11:40] #10 closed

[2018-10-31 12:43] amaatouq commented on #12
No, not a big deal for now! It can wait.

[2018-10-31 15:51] #3 closed

[2018-10-31 15:53] amaatouq opened #14 "add `game.index` field"
it can be a global game index within the entire experiment deployment (i.e., not within the treatment or within batch).

This is for humans to be able to reference games: Like "Game #3 had interesting results".

[2018-10-31 15:56] amaatouq opened #15 "Add `onSubmit()` callback"

[2018-10-31 15:59] amaatouq opened #16 "Record and expose player status"
We want to be able to see if the player is online/offline, background/foreground (tab in the background or not) and idle/active (user events: click, mouse movement, etc.). something like `meteor-user-status` by mizzao: https://github.com/mizzao/meteor-user-status

[2018-10-31 16:02] amaatouq opened #17 "Monitoring ongoing batches"
this issue just to collect ideas .. will split them into different tickets later.

From running few pilots, things that the experimenter would like to know are:
1- Participant level: id/ip/game/status (online, idle etc) and 1-way mirror (i.e., observing that player), and admin/participant chat.
2- Game level: how many participants are assigned to it (how many are idle, offline, connected), how man

[2018-10-31 16:07] amaatouq opened #18 "Licenses & Standards"
It came to my attention that we might want to think (or rethink) our licenses after moving to a package format.

If anyone has ideas, please share them here.

[2018-10-31 16:09] amaatouq opened #19 "load testing"
We need to put some demand on empirica and measure its response and scalability (i.e., simultaneous connections). It seems that the core can benefit from some performance optimization as well as we can provide tips and tricks for the experiments to improve performance.

Maybe https://github.com/alanning/meteor-load-test or something like this https://github.com/TurkServer/cooperation-loadtest

[2018-11-03 18:51] amaatouq opened #20 "lastUpdateBy field"
we currently have `updatedAt` for every record in the database. It would be nice to have `lastUpdateBy` field which would have one of three values: {'client', 'server', 'empirica'} to know who updated.

[2018-11-03 18:58] amaatouq opened #21 "Improve JSON export"
The json data files that are produced by Empirica do not have a valid JSON structure.

They currently look like this :
[code]

Which is easier to loop over and insert each row as a document in a non-relational database. But alternativly, we could have each block to be embedded in a larger structure, like this :

[code]

which will be readable by typical JSON parsers.

[2018-11-03 19:07] amaatouq commented on #20
or we can have `updatedAt` and `lastUpdateBy` under `data` such that `lastUpdateBy` will only have two options: `{client, server}` .. while the top level `updatedAt` will always reflect the timestamp of when `core` updated the record.

[2018-11-04 16:38] joshua-a-becker commented on #7
i use a simple javascript hash that's quite easy to implement in MTurk via copy-and-paste (the same way you might add the Turk ID to the URL to pass into playerIdParam)

[2018-11-04 16:43] joshua-a-becker opened #22 "add random playerId to "New Player" URL"
Requested Feature--

If the playerIdParam is present in Meteor.public settings, add a random playerId to the URL for the "new player" button for dev's.

Argument for adding this feature:  if people want their dev tests to involve manually entering a playerId, they can just leave this param undefined in settings.json, and adding the param in settings implies you expect playerId to come through the

[2018-11-05 07:39] npaton commented on #22
No problem with the feature overall, we do need to improve dev/debug. I don't think mixing the playerParamId and New Player is particularly beneficial. We can add an option to make New Player automatically "logging in" the player with a random ID.

The reasoning here is about keeping things clear and obvious, as much as possible. Mixing the playerParamId option with some sort of automatic logging

[2018-11-05 13:30] joshua-a-becker commented on #22
How could this ever be used in staging / deployed testing environment?

I think that this behaviori would be expected, under the assumption that:  if I have playerIdParam set (which could vary by which settings.json I use) then I don’t expect people to manually enter a playerId, therefore automated playerId is expected.

Though I’d also find it just as useful if that were handled by a separate con

[2018-11-05 13:32] joshua-a-becker commented on #22
Realized we may be talking about two different implementations—I’m imagining the playerId added to you might be suggesting auto registration even without the ID passed to the url.

[2018-11-05 13:59] npaton commented on #22
Yes, it would work, even if not using playerParamId. ;)

[2018-11-05 14:02] npaton commented on #22
I understand, it can make sense to go into the UI, it also makes sense to be able to easily share configuration, we'll discuss about it before moving forward. ;)

[2018-11-06 00:45] amaatouq opened #23 "Lock factor types"
do we need to add a new factor type, which requires defining "allowed values"?

(i.e., allowedValues: ["stationary", "nonStationary", "semiStationary"])

[2018-11-06 01:13] npaton commented on #23
I actually implemented that initially, and it was a bunch of work. Then realised it was exactly the same as a string typed factor, expect you couldn't add anymore factor values.

So maybe instead we can add locking to factors to have the same effect, with the added value that it works with any type. And with an option to unlock because I'm sure that's something people will eventually want to do.

[2018-11-06 01:17] amaatouq commented on #23
yes, 💯  right! this is not a high priority though!

[2018-11-06 01:38] amaatouq commented on #22
a related thing would be: if in `debug` mode you skip everything (consent, taking user id, intro) and go to the lobby directly (i.e., use `_id` as `id`). Also, maybe we want an option somewhere that specifies without the debug mode.

[2018-11-06 02:53] npaton opened #24 "Stages are sometimes out of order in the breadcrumb"
It was reported that stages can sometimes be displayed out of order in the Breadcrumb.

The reason for this is known at this point: the stages array attached to the round object in the UI stack is not sorted. Nor is the rounds array on the game object. Adding sorting should fix the problem.

Note that this issue should not affect the order in which the rounds or stages are played. But it would aff

[2018-11-06 03:17] npaton commented on #24
@Dan5Playground This should be fixed, you can pull with `meteor update empirica:core`. If it's working for you, you can close this issue.

[2018-11-06 03:18] #13 closed

[2018-11-06 03:32] npaton commented on #21
Proposal: Add new "JSON Line" export that would cork like our current JSON export, and update the JSON export to export an array as such:

[code]

[2018-11-06 03:44] npaton opened #25 "Add stage/round endedAt timestamp"
1) Add endedAt on Stages and Rounds:

[code]

2) On export, copy endedAt from Stage/Round into PlayerStage/PlayerRound for convenience.

[2018-11-06 03:46] npaton commented on #20
The solution for this problem is actually better solved by #25. If this particular solution is needed, please reopen an issue with a description of the problem.

[2018-11-06 03:46] #20 closed

[2018-11-06 03:47] npaton opened #26 "Add tests to core"
We need to start adding test to core. For now we at least need the infrastructure to add tests and a few example tests.

[2018-11-06 03:50] npaton opened #27 "Make Empirica multi-thread capable"
Currently Empirica apps cannot be deployed onto multiple servers, because some background jobs (the onX callbacks notably, but also the every second tickers...)

[2018-11-06 04:06] npaton commented on #21
http://jsonlines.org/

[2018-11-06 04:08] npaton commented on #18
https://choosealicense.com/

[2018-11-06 04:39] npaton opened #28 "Custom assignment"
Do it.

[2018-11-06 11:05] Dan5Playground commented on #24
Thank you.

[2018-11-09 19:09] joshua-a-becker opened #29 "Question: how does the playerId localStorage work?"
I'm trying to understand something and getting stuck just by reading the code, and not quite sure how to test it thoroughly enough to understand the possible edge cases.

Suppose I run an empirica app on a domain my-lab.meteorapp.com and then a few weeks later, run a completely different app (with a completely different database) on the exact same domain (my-lab.meteorapp.com)

What is the expecte

[2018-11-09 19:37] joshua-a-becker commented on #5
i've been using the following solution, which works OK:  randomly add up to 60 seconds to each person's "start time", to disperse the influx over the course of a minute.

with 100 users, I typically lose about 15 due to overlap.

[2018-11-11 14:29] npaton opened #30 "Add the ability to Whitelist/Blacklist Player IDs in the admin"
Use case: Wanting to limit access to known players or blocking players.

Somewhere in the admin, a textarea where the admin can list player IDs, one per line.

[2018-11-11 14:49] npaton opened #31 "Add API documentation"
Add API documentation to website. Also basic concepts.

[2018-11-11 14:55] npaton opened #32 "Create "Your first experiment""
Create simple Player's Dilemma tutorial from create-empirica-app to running the first experiment, including a little bit of UI love (blueprint? bootstrap?).

KEEP SIMPLE! :)

CC @joshua-a-becker

[2018-11-11 15:00] npaton opened #33 "Rework docs structure"
[x] Guides becomes Demos
[x] Add You first experiment page

Add more tasks here as needed.

[2018-11-11 15:01] npaton commented on #31
Add lifecycle diagram.

[2018-11-11 15:14] npaton opened #34 "Organizing demos & documentation"

[2018-11-13 07:33] npaton commented on #29
If the database is different, the player with payerId stored in localStorage will not be found, and the user will be treated as a new player (presented with the NewPlayer form or auto register if playerParamId is set).

This is a similar case, but sounds like the people playing are different. Same behavior, the DB does not contain the old playerId, so it should work fine.

It should be. It is not

[2018-11-13 08:55] #12 closed

[2018-11-14 14:27] joshua-a-becker commented on #29
Thanks, this is the key piece I needed to know, highlighting for my own future reference:

i was also concerned about the case where the *same* user accesses again.  sounds like as long as it's a new/empty database (e.g., because i'm running a new experiment, in this hypothetical) then it will function as expected no matter who it is.

[2018-11-14 14:35] joshua-a-becker commented on #29
**ah new question:**    suppose that the playerIdParam is supplied by the URL, and this conflicts with the playerIdParam in the LocalStorage:   which wins?

[2018-11-14 15:18] npaton commented on #29
`playerParamId` and playerId storage in localStorage are cardinal features, they should not affect each other, in most cases (see exception below). In other words, nothing in the localStorage lookup is referencing playerParamId.

If you take a look at the source file for the playerId saving in [IdentifiedController](https://github.com/empiricaly/meteor-empirica-core/blob/master/ui/containers/Ident

[2018-11-14 15:43] joshua-a-becker commented on #29
All working as expected---I have not seen any problems, I was just trying to anticipate possible edge cases if, e.g., someone runs different experiments with the same URL.

I am thinking of the case where user A accesses the site, their playerId param is stored in localstorage.  THEN user B enters the site with the same browser and their playerId is given via URL, but they are still recognized as

[2018-11-25 15:32] npaton commented on #16
New [status info on `Player`](https://empiricaly.github.io/docs/api#player-object) available in [Empirica v0.2.0](https://github.com/empiricaly/meteor-empirica-core/blob/master/CHANGELOG.md#020-2018-11-25).

[2018-11-25 15:32] #16 closed

[2018-11-25 15:33] npaton commented on #15
[`onSubmit()`](https://empiricaly.github.io/docs/api#empiricaonsubmitcallback) in [Empirica v0.2.0](https://github.com/empiricaly/meteor-empirica-core/blob/master/CHANGELOG.md#020-2018-11-25)

[2018-11-25 15:33] #15 closed

[2018-11-25 15:39] npaton commented on #14
[`Game.index`](https://empiricaly.github.io/docs/api#game-object) in [Empirica v0.2.0](https://github.com/empiricaly/meteor-empirica-core/blob/master/CHANGELOG.md#020-2018-11-25)

I also added an auto-incrementing index on Players and Batches, thought they might come in handy.

[2018-11-25 15:39] #14 closed

[2018-11-25 15:40] #33 closed

[2018-11-25 15:40] #34 closed

[2018-11-25 15:49] npaton commented on #31
I didn't go for a life cycle diagram, it's text, I couldn't figure out the diagram, without probably spending a couple days on it. But I think it might still be helpful.

That and the API docs and the concepts page, all could use some love, it's probably all a bit rough, but as a first pass, I think it's all there.

- [API](https://empiricaly.github.io/docs/api)
- [Life cycle](https://empiricaly.g

[2018-11-25 15:49] #31 closed

[2018-11-25 15:51] npaton commented on #11
I couldn't quite figure this out yet, my apologies. You got the multiple assignment issue with this test app?

[2018-11-25 17:38] amaatouq commented on #11
potentially this will be solved when we add the custom assignment #28 .. I'll close this issue for now.

[2018-11-25 17:38] #11 closed

[2018-11-25 18:11] amaatouq opened #35 "Cannot read property 'stop' of undefined"
After upgrading empirica from `empirica:core 0.0.10` to `empirica:core 0.2.0` and  updated to `Meteor 1.8.0.1` I now  get the following error when I navigate to http://localhost:3000:

[code]

and navigating to http://localhost:3000/admin:

[code]

## Possible Solution
I am guessing it is related to the new #16 feature.

## Your Environment

- Version used: 0.2.0
- Environment name and version (e.

[2018-11-25 22:50] joshua-a-becker commented on #32
apologies for my extreme delay in getting this out!

i've submitted a pull request for a draft of this, it might be a bit rough around the edges with some formatting

some of the features i included in the demo app are a bit arbitrary (e.g., having images for some tasks and not others) and this is designed to show people how to use Empirica to make flexible apps... and inspired by my own experimen

[2018-11-26 00:11] joshua-a-becker commented on #31
loving these docs.

for lifecycle, I'm not missing the diagram--it's very clear as is.

a lot of the questions i had myself were around the game assignment and creation---this of course is about to change a lot so i'm not suggesting any additions to the doc at this time, just flagging this topic as something to keep in mind for future docs

[2018-11-26 00:14] joshua-a-becker commented on #31
right now, it looks like object (player/game/etc) methods are not defined

E.g., i'm intriguied by this "player.append()" method which i did not know existed!

[2018-11-27 03:18] joshua-a-becker commented on #32
@amaatouq not sure whether i should try to proceed at the moment---

i still need to update the git repo with the sample code (as per your comments) but the 'game' object in Empirica.gameInit() doesn't contain the players object so its broken as of now.

upgraded to 0.2.0 but got the error reported in #35

[2018-11-27 08:33] npaton commented on #35
Should be fixed in [0.3.0](https://github.com/empiricaly/meteor-empirica-core/blob/master/CHANGELOG.md#030-2018-11-27). I couldn't actually reproduce the issue. But I do see where there might have been an issue, so I tried to fix it.

[2018-11-27 08:52] npaton commented on #32
In [0.3.0](https://github.com/empiricaly/meteor-empirica-core/blob/master/CHANGELOG.md#030-2018-11-27), the issue from #35 should be fixed, and `game` in `gameInit` should contain the players.

Yes, every `set()` call will save the given piece of data in the DB, through the server. The data will also be disseminated across all clients. This can be costly, but only for very high data refresh rates,

[2018-11-27 12:19] amaatouq commented on #32
Sounds good to me!

[2018-11-27 17:05] joshua-a-becker commented on #32
makes sense!  i have gotten on the prettier train, but i haven't pushed my changes yet b/c its broken code right now until i can get 0.3.

what other adjustments?

style question:  with the new `Empirica.gameInit(game)` form, do you prefer to use `game.player` throughout or define `const player=game.player` at the top?

i disagree somewhat.   if you use a text input form, then it is a pretty high

[2018-11-27 17:25] amaatouq commented on #32
You just need to run `meteor update empirica:core` in the directory. It is already pushed.

key press is super fine. The reactivity is dealt with well by meteor. Even using  `player.stage.set()` on a continuous slider `onChange()` with 60 people online, won't be noticeable. If faster update rate is possible (i.e., 100 calls / sec or something), then the trick is to use `_throttle()` + session. We

[2018-11-28 05:59] npaton commented on #32
I understand. I should explain my reasoning about this. In short, we do want to make thing efficient enough that it is generally not a concern, 90+% of the time. And we want to make scaling horizontal (multi server) and (nearly) linear. We are not there yet for sure, but this is the philosophy and I do want to overall give that feeling in the docs. I am not at all opposed to some documentation abo

[2018-11-29 19:26] joshua-a-becker commented on #32
ok so the repo is updated & prettified

[2018-12-02 00:27] amaatouq commented on #16
@npaton this is AMAZING!!!!!!

[2018-12-04 06:56] npaton commented on #16
Glad you like it. :) I assume you saw the rudiments of an admin UI for players. Still wonder if there should be another indicator to distinguish when the tab is clearly backgrounded (on another tab or window), which we can more or less distinguish. There are a few of problems with that:
- game designers might be tempted to be rigid about, while, sometimes you do need to go and fix something on ano

[2018-12-07 05:33] amaatouq commented on #32
ok, I'll close this one. We will revise this again in later milestones. @joshua-a-becker can you please update the `Your First Experiment` in the doc with the URL for the repo?

[2018-12-07 05:33] #32 closed

[2018-12-07 05:35] amaatouq commented on #16
Yes--it is very cool. although the UI still has the 'under construction' section. But other than that, I think this will suffice for now! I think we should have another indicator to distinguish when the tab is clearly backgrounded. It is up to the experimenter how to interpret this (we can indicate in the documentation that this is not 100% accurate). But if someone gave no answers + was indicated

[2018-12-07 11:15] npaton commented on #32
My apologies for the delay, scheduled and unscheduled tasks have eaten up my week. I will be working on this over the weekend if there's still anything to do. I think there is at least a code review and merge to be done. And I will also move the website to the official domain.

[2018-12-08 16:27] joshua-a-becker commented on #32
sorry for my delay!
-- removed node_modules and added to .gitignore in https://github.com/empiricaly/your-first-experiment
-- added link to github to instructions

https://github.com/empiricaly/your-first-experiment/pull/1
https://github.com/empiricaly/empiricaly.github.io/pull/3

[2018-12-31 19:22] joshua-a-becker commented on #22
this appears to be done!

[2019-01-03 17:14] joshua-a-becker opened #36 "Desired props not available to custom gameLobby"
Desired props are not available to custom gameLobby using Empirica API.

## Expected Behavior
I would expect all the same props to be available to the component passed to `Empirica.lobby()` that are used in the core `GameLobby.jsx` component.

## Current Behavior
lobbyConfig is not available (also timedout but that could be calculated given lobbyConfig)

## Possible Solution
Pass these props to th

[2019-01-03 19:26] joshua-a-becker opened #37 "Player data removed upon game start"
Player data set during intro steps is removed during game start.

## Expected Behavior
Player data set during intro steps will be persistent in the db.

## Possible Solution
remove line 45 in `/api/games/create.js`

## Notes
I'm a bit slow on github, and will submit a pull request this weekend if you don't beat me to it.

[2019-01-06 18:44] joshua-a-becker opened #38 "Expose "No Batch" component to experimenter"
Just a suggestion---

## Expected Behavior
Like Empirica.breadcrumb() and Empirica.lobby() it is desirable to be able to set the "No Experiments Available" to custom design

## Context
I do not find it desirable to use experimental language for subjects, and would prefer to use MTurk-like language such as "task."  Who likes being experimented on??

People might also want to put custom messaging on

[2019-01-06 18:55] joshua-a-becker commented on #22
sorry for the noise---i was wrong, i was looking at my own repo and not the upstream repo.

[2019-01-06 20:08] joshua-a-becker opened #39 "Players with exitStatus="playerLobbyTimedOut" assigned to game"
Players with exitStatus="playerLobbyTimedOut" were assigned to a game.

## Expected Behavior
Players with exitStatus="playerLobbyTimedOut" should not be assigned to game.

## Current Behavior
This occurred on a somewhat overloaded server (i.e. running slowly).  My guess is that this occurred because the game started, but took long enough to initialize that the player's individual lobby timed out.

[2019-01-06 20:24] joshua-a-becker commented on #4
any update on this particular issue, re: game init time, is there a ticket?  i'd like to follow and maybe help, on occasion i have clever ideas about code efficiency  (if not already resolved).  also think it might be related to https://github.com/empiricaly/meteor-empirica-core/issues/39

[2019-01-07 07:41] npaton commented on #4
@joshua-a-becker I don't think there's a ticket for long game init time. Feel free to add it. If you have an idea how to improve that issue, after you opened the issue, please add a comment explaining how you are thinking about improving on it, so we can discuss changes before you get too deep into a fix that might not work with future developments. FYI, the issue hasn't been addressed yet because

[2019-01-07 07:46] npaton commented on #39
I haven't tested this but I can see how that might happen, your guess does sound like something possible. Even if we do improve the game init time, we should be able to lock players into the game as soon as there are enough ready, so that this situation cannot occur. I won't be addressing this directly immediately, but I will be taking this into consideration as I work on the new assignment archit

[2019-01-07 07:51] npaton commented on #38
Agreed. I'd like to expand the possibility of customizing any screen. It would be great if we could list all the missing ones here so I can add them at once. Are there others still missing?

[2019-01-07 07:58] npaton commented on #37
Agreed the issue might be on line 45 of `/api/games/create.js`. Maybe:

[code]

Not sure if there are still cases where `player.data` might be undefined, so it might still need  to be initialized with `{}`. I haven't had the time to look into it deeper, but a PR would be welcome. 💃 It's a quick fix, adding to my next tasks if no one gets to it before me. ;)

[2019-01-07 08:01] npaton commented on #36
Seems fair. We are fetching it in `GameLobbyContainer.jsx`.

[2019-01-08 03:06] joshua-a-becker opened #40 "Lobbies attached to incorrect lobbyConfig"
I'm still figuring out the details but want to report this possible bug because it's invisible, and experimenters may not know its happening (but it could still cause unexpected behavior)

## Expected Behavior
Batches should be linked to the lobby assigned upon creation in the GUI.

## Current Behavior
After creating a new lobbyConfig, and creating a new batch with that new lobbyConfig, it is runn

[2019-01-08 03:08] joshua-a-becker commented on #40
Update:  this may be linked to import/export.  It may occur only when importing into an app that already has factors/treatments/lobbies/etc.

[2019-01-08 03:16] joshua-a-becker commented on #40
the problem seems to re-assert itself after an import, when the lobby is created before the import.

[2019-01-08 09:14] npaton commented on #40
Thanks @joshua-a-becker. So steps are:

1. Create a lobby config (A)
1. Import other lobby configs (say, B and C)
1. Create a batch (1) with lobby config (B)
1. I'm not sure here, batch (1) has lobby config (A)?

I'm not sure the steps to reproduce. 👯‍♂️

[2019-01-08 11:55] amaatouq commented on #40
Are you sure you are not in debug mode @joshua-a-becker? it is buggy likr this.

[2019-01-08 11:55] amaatouq commented on #39
Are you sure you are not in debug mode @joshua-a-becker? it is buggy like this.

[2019-01-08 15:45] joshua-a-becker commented on #39
can confirm i am not in debug mode (actually don't know what that does)

[2019-01-16 18:12] eamanj commented on #37
I have the same problem. Josh, could you post a code snippet how you set the player attribs?

[2019-01-16 18:19] joshua-a-becker commented on #37
I literally just removed line 45 in `/api/games/create.js`

@npaton is concerned this may leave the player.data object uninitialized, but my quick test showed that the default is `{}`.    Just keep any eye out for possible errors related to this, or use something more like the line that Nicolas gives above.

Sorry I haven't had a chance to do a pull request!

[2019-01-16 19:22] eamanj commented on #37
@joshua-a-becker  I removed line 45 and still get the same issue. doing what @npaton suggested did not fix it either. I suspect, it is because my pre-survey is not done correctly. I basically copied the exitsurvey and changed it so it matches the intro stages. See the code:
[code]

[2019-01-17 03:44] joshua-a-becker commented on #37
Can you share the entire file, or perhaps you have an entire repo I could clone?

I can't tell just by reading that what might be going wrong---I'm not good enough at javascript to spot potential errors.

The first thing I'd check is whether the player data is being properly set even in that moment---whether the issue is that it's being later erased, or whether it's never being set in the first pl

[2019-01-17 19:26] eamanj commented on #37
I did log the attributes in the intro-survey. They do get set correctly, but when I log the player in the game, the attributes are no longer there. Here is the code snippet from client/main.js:
[code]

Here is the InitialSurvey.js:
[code]

[2019-01-17 19:29] joshua-a-becker commented on #37
And you can confirm that your updates to core are being reflected in the app----i.e., you're using the local package source instead of the default core package location?

[2019-01-17 19:35] eamanj commented on #37
that's a good point. How do I check which package I am using?

[2019-01-17 19:40] joshua-a-becker commented on #37
You can check by, e.g., changing something visible in the admin interface or adding a console log in one of the scripts.

And make sure you're running your app with the `METEOR_PACKAGE_DIRS` variable set, for example:

`[user@linux]$  METEOR_PACKAGE_DIRS=/home/location-of-custom-core meteor`

[2019-01-17 19:50] joshua-a-becker commented on #37
^^that "location of custom core" should be the root folder of your clone of the `meteor-empirica-core` repo

[2019-01-17 19:52] amaatouq commented on #37
I talked with @npaton today and this should be fixed by tomorrow morning in the main repo.

[2019-01-17 19:53] eamanj commented on #37
I added a console log in create.js and changed the core dir as follows:
export METEOR_PACKAGE_DIRS="/home/eaman/research/polarization/meteor-empirica-core/"

The message did not appear and player attribs were not set. But I am not sure if the message was supposed to appear, since it might be running on server side..

[2019-01-17 19:53] eamanj commented on #37
@amaatouq good to know! thanks

[2019-01-17 19:54] joshua-a-becker commented on #37
i never got it to work with that method, i'm not that great at linux.

if you can't wait until tomorrow, try running meteor with the command i gave above.

[2019-01-17 19:55] eamanj commented on #37
@joshua-a-becker thanks for the help. will wait until tomorrow.

[2019-01-17 20:59] eamanj opened #41 "Bots supported?"
Are bots supported yet? I add empty code in bots.js as follows:

[code]

but server fails with the following message:

[code]

[2019-01-17 21:06] eamanj commented on #41
nevermind, the problem was that ; was before the parenthesis. I copied the code from tutorial API section, it makes sense to correct the code there too.

[2019-01-18 01:35] npaton commented on #37
I push a fix that should resolve this issue. Run `meteor update empirica:core` and let me know if you are still seeing issue. If none found, feel free to close the issue. Sorry for the delay. ⛵️

[2019-01-18 18:15] eamanj commented on #37
@npaton thanks for the fix. It did work and player data carried through to game stage. FWIW, server spit out an error that was not happening before. This happened right after I submitted the initial survey:

[code]

[2019-01-18 19:47] #41 closed

[2019-01-18 19:49] eamanj opened #42 "add endgame method to player object"
Ideally after the last stage of the last round, the player should not wait for other players to submit. Having a method such as `player.endGame()` that takes the player directly to the exitSurvey would achieve this.

[2019-01-19 02:31] eamanj opened #43 "add a method to get only bots."
It would be nice to have a method that returns list of bots in the game, rather than just looping over players and extracting the bots. a one-liner like this:

`return _.filter(game.players, p => 'bot' in p);`

[2019-01-19 02:45] eamanj commented on #43
same for human players:
`
return _.reject(game.players, p => 'bot' in p);`

[2019-01-19 04:58] eamanj opened #44 "bots method does not receive secondsRemaining"
It seems the last argument is not properly passed to the method. I log it and it seems to be the same as the bot object and not the actual number of seconds remaining in the stage as an integer.

[2019-01-20 14:25] npaton commented on #42
Yes, that is definitely something we want to do and have already talked about. I don't know exactly when we'll get there but it's definitely happening sooner or later.

[2019-01-21 23:15] eamanj opened #45 "set() on a bot creates strange error"
When I set an attribute on all players, including a bot, the intro steps go through but the game never starts. After waiting a minute in the lobby with the message "Game Loading ...You game will be starting shortly, get ready!", the server fails with the following error:

[code]

when I set the attribute only for the human player, the error does not occur. BTW, the lobby message should read: "Your

[2019-01-22 01:37] npaton commented on #37
I haven't been able to reproduce this error. Is this happening systematically every time you submit the survey? I would probably need to be able to run the code to investigate further, if that's something you can do. Thanks!

[2019-01-22 01:56] npaton commented on #44
I pushed and update that should fix this issue, please run `meteor update empirica:core` and let me know if it's working. Thanks!

[2019-01-22 02:19] npaton commented on #43
I am not sure about this. I do understand it might be somewhat helpful but I want to be careful to not grow the API for things that are really simple to do. I do not find the following too hard to do:

Bots: `game.players.filter(p => p.bot)`
Humans: `game.players.filter(p => !p.bot)`

But I am bias here obviously. The problem with adding methods for this to the `game` object to me, beyond clutteri

[2019-01-22 23:53] eamanj commented on #44
worked. thanks!

[2019-01-22 23:53] #44 closed

[2019-01-23 14:25] amaatouq commented on #45
@eamanj is this resolved or still open?

[2019-01-23 15:37] amaatouq commented on #45
Also, you shouldn't do `bot.set()` in the intro steps (they do not exist yet) .. it should start in the game initiation `gameInit` and then you loop over them and add the attributes.

[2019-01-23 19:27] eamanj commented on #45
I was setting the bot to have a player object rather than the player id. After the change, it started working.

[2019-01-24 21:13] eamanj opened #46 "reset session throws server error"
In debug mode, I have noticed that I get the following error:
`(STDERR) attempting to update player status from wrong conn
`

but this only happens when I use the reset current session. Starting a new session using New Player does not throw this error.

[2019-01-25 00:43] amaatouq commented on #46
Debug mode is experimental and we will improve on it significantly (not going to happen soonish).

[2019-02-08 19:52] chri4354 opened #47 "Experiment progression gets stuck after about an hour of play"
We've had a couple of games in production getting stuck in this way. The game clock goes negative and the next round never starts. We aren't seeing any errors in the logs. But we've noticed the games are getting stuck right around the 60 minute mark.
The timer went negative, no error in the console logs, players were just waiting for the next round to start
It might be a database problem, as one o

[2019-02-08 19:54] chri4354 opened #48 "same game gets assigned to multiple gameIds"
We noticed some weirdness in the data files exported. If you open the games.csv file, the last two games are `7nhhYSuAcpvEhG2pB` and `i23BepCfrCgspwgmR`. If you scroll over to the 'playerIds' column, these two games have identical lists of playerIds. And they were started at the same time. Then if you open `player-rounds.csv` you can see these two games have the same batchId `6vNYeAnAEoeY4Fjes`, b

[2019-02-10 16:01] #47 closed

[2019-02-10 16:02] npaton commented on #48
I have looked into this issue and I have not yet found an evident cause for it.

I do think it has to do with the fact that Meteor every mutation in Meteor should be idempotent, which we currently do not fully support, notably because it can be difficult to do with Mongo, which does not have transactions. So if some things are called twice (an a meteor method, a hook...), code re-executes and doub

[2019-02-10 16:06] npaton commented on #47
I believe I have found the source cause for this issue. It was related to an old mechanism still in place for checking when to transition to the next stage, where we would use an estimated end of game time to scope our game object queries. That estimated game time was accounting for some buffer time we add in between stages, but for a game with a large amount of stages, the extra time added to the

[2019-02-19 17:20] jamalx31 opened #49 "Issue in running experiments with multiple players"
We have an issue in running experiments with multiple players, the problem can be noticed with 10 players and more.
Chrome usage of CPU spikes and the experiment runs slowly, the problem isn't from the UI, disabling it didn't solve the problem.

Running experiments with the old core didn't show that problem.
Any suggestions?

## Expected Behavior
The players should enter the rounds and participate

[2019-02-19 17:21] jamalx31 commented on #49
@npaton any thoughts?

[2019-02-19 17:34] amaatouq commented on #49
is this when you run it locally or on deployment? If in deployment, did you try to connect from more than one machine? (i.e., the lag might be from your machine having 10 browsers open and consuming your available memory).

[2019-02-19 17:44] jamalx31 commented on #49
@amaatouq both, locally and deployment.
I don't think it's related to my machine since the issue doesn't happen with the old core

[2019-02-19 17:54] amaatouq commented on #49
@jamalx31 in deployment does it start and laggish or it doesn't start at all?

[2019-02-19 18:02] jamalx31 commented on #49
@amaatouq It starts and sluggish

[2019-02-19 18:18] amaatouq commented on #49
@npaton could it be the db indices are missing after we changed core?

[2019-02-19 20:23] npaton commented on #49
I can reproduce the issue locally and I am not yet sure what's causing it.

I ran the experiment on the current and previous commit of your experiment, and I do notice the dramatic performance difference.

I did a pretty deep dive into the client side code to understand the source of the issue. I identified a couple of potential issues. the first is the new player presence API, which triggers a lo

[2019-02-20 09:13] amaatouq commented on #49
Note: I ran an experiment with ~100 connections (8 groups of 12 people simultaneously) on the 17th of Nov 2018 with no problems! This is the last time I tested the performance of the platform—could it be something we’ve done in between?

[2019-02-20 09:50] npaton commented on #49
Well the server is not affected by the slowdown, so that's always good. And if we're running a real experiment, with participants running the client side each on their own machine, the load issue is not as apparent from my understanding. I could run an experiment with a single player locally without issues. The CPU load was just getting overall higher in the newer version of the app, which when te

[2019-02-20 15:56] chri4354 commented on #49
@npaton Perhaps the issue is on the client side, however as @jamalx31 already mentioned, we had this problem also when testing on mTurk. The number of connections that I could see on Galaxy was no more than 25 (two groups of 19 and 5 respectively). Do you suggest trying running it on the old core to see if anything changes? The app is deployed on 1 Quad container.

[2019-02-21 09:06] npaton commented on #49
@chri4354 Regarding server performance, given that @amaatouq is able to run his experiment is able to run his experiment with 4 times more people, I am not sure the issue is merely within the core. If you you want to try with the old core, and you see better performance with the old core on the server side as well, we are interested in understanding those differences.

There is 6 months of changes

[2019-02-21 13:57] amaatouq commented on #49
@npaton but I was also able at the time to test 12 players locally (a group of 12) with no problem! It seems not to be the case with Jamal’ experiment.. Let me test these things again today after I update the core.

[2019-02-26 20:34] joshua-a-becker commented on #37
@eamanj for future reference---the `METEOR_PACKAGE_DIRS` var should be set to the folder *containing* the folder, so in your case it would be:

METEOR_PACKAGE_DIRS=/home/eaman/research/polarization/

[2019-02-26 20:40] joshua-a-becker commented on #22
Proposing a pull request

Functionality;  adds the playerIdParam to URL *if required*

[2019-02-27 16:24] npaton commented on #22
This should be fixed by #50 in `0.7.0`. ⛵️

[2019-02-27 16:24] #22 closed

[2019-02-28 21:13] askyel opened #51 "`round.set` function eliminates leading and trailing whitespace in value"
## Expected Behavior

`round.set` saves the exact string value provided

## Current Behavior

`round.set` removes leading and trailing whitespace when setting the value

## Possible Solution

Remove an unnecessary trim or strip function?

## Steps to Reproduce (for bugs)

Bug occurred in [artwork gender bias experiment ](https://github.com/amaatouq/artwork_gender_bias/blob/master/client/game/TaskR

[2019-03-03 08:52] npaton commented on #51
Thank you for the bug report! I pushed an update to fix the issue (`meteor update meteor:core`), please reopen if you are still seeing the issue. ⛵️

[2019-03-03 08:52] #51 closed

[2019-03-05 14:52] chri4354 commented on #49
We tested a batch of 49 yesterday (2 groups of 19, 2 of 5 and 1 single player) and participants in the 19 group size condition reported problems regarding extremely slow server reactions. We are reverting back to the old core, as this seemed to give us less problems. I will update this thread if this solves the problem.

[2019-03-05 23:31] chri4354 commented on #47
@npaton , has this issue been fixed also on the old core? We need to use the old core because it seems the only one able to sustain large groups (>10 players).

[2019-03-06 00:44] npaton commented on #47
I did backport this fix to the old core: https://github.com/empiricaly/empirica/commit/a2c00da2453144f5294dc8afe8610f889cc1f9ef

[2019-03-16 19:10] joshua-a-becker opened #52 "Allow player to skip remaining rounds"
picking up from:
https://github.com/empiricaly/empirica/issues/59

## Expected Behavior
Feature:  allow player to skip remaining rounds, get an exitStatus, and show `ExitSteps`

## Current Behavior
All players must complete all rounds.

## Possible Solution
1. ✔️  create a new exitStatus "finishedEarly"  (`players.js`)
2. ✔️ create a new method player.endGame (`api\players\methods.js`, `api\player

[2019-03-16 19:10] joshua-a-becker commented on #52
I'm going to work on this feature today.

[2019-03-16 21:12] joshua-a-becker commented on #52
#1 and #2 done, going to use this a while and see if any problems emerge.

available in the commit ref'd below

[2019-03-16 21:17] joshua-a-becker commented on #42
whoops accidentally re-created this issue.  i recommend closing this one and keeping the more detailed https://github.com/empiricaly/meteor-empirica-core/issues/52

@eamanj --- i've started some basic functionality for this, which should serve for your purposes, and help to test it.  available in the "player.endGame" branch at https://github.com/joshua-a-becker/meteor-empirica-core/

current issus

[2019-03-17 17:12] joshua-a-becker commented on #40
see updated comment with steps to reproduce--this is not tied to the import, that was a red herring.  it appears as though somehow archived lobbies are getting attached to new batches.   can't tell why.

the easy workaround, it *seems*, is to not archive batches.

[2019-03-17 17:14] joshua-a-becker commented on #40
if i had to guess, the issue lies entirely within AdminNewBatch.jsx and the fact that archived lobbies are filtered out for the display, but i can't see where the mis-assignment would come in.

[2019-03-17 18:01] joshua-a-becker commented on #52
extra step taken to make available during game init

[2019-03-18 02:05] #42 closed

[2019-03-18 02:12] npaton commented on #52
Thank you for your help on this. Feel free to create a Draft Pull Request so we can keep updated on the code changes. ;)

[2019-03-18 03:30] npaton commented on #40
With the following steps:
1. create minimal conditions for group, including lobby with 300-second fail setting
1. create batch
1. create new lobby with 5-second ignore setting
1. archive your first lobby
1. create new batch with new lobby

I cannot reproduce this issue. The correct lobby configurations are attached. Are those the right steps to reproduce?

[2019-03-18 03:50] joshua-a-becker commented on #40
should be.  i'll check again.  i used the your-first-experiment demo, so i'll try again with the default create-empirica-app to be sure everything is totally up-to-date and default.  i've experienced this across several apps, and with both my own local server as well as meteor galaxy.  it's somewhat inconsistent so i'll see if i can find a more reliable reproduction.

[2019-03-18 03:51] joshua-a-becker commented on #52
will do!  steps 1 & 2 were easy, steps 3-5 will likely take me much longer to complete

[2019-03-18 04:44] #40 closed

[2019-03-18 04:45] npaton commented on #40
Ok I think I actually might have found the cause. The default lobbyConfig selected when adding a treatment to a batch was selected from all lobbyConfigs, including archived ones. I pushed a fix (`meteor update empirica:core`). I am not 100% sure this was the issue from the description. Let me know if this fixes your issue.

[2019-03-18 13:52] joshua-a-becker commented on #40
cool that sounds likely to be the issue.  i'll re-open if i ever encounter this problem again.

[2019-03-25 07:37] eamanj opened #54 "updating player data in intro rounds creates error"
I am updating player data (player.set(..)) in intro rounds before gameInit.
It succeeds in setting the attributes, but the server dumps the following error message. any idea why?

[code]

[2019-03-26 07:39] npaton commented on #54
I could not reproduce this issue. Here's a small code excerpt of the test I ran:

[code]

This does not throw an exception.

Would you have some code I could look at?

[2019-03-26 08:31] eamanj commented on #54
I noticed this only happens when the attribute I set it to is empty string. The attribute comes from a radio button, so if left unanswered, the default empty string would be used.

[2019-03-26 09:30] #54 closed

[2019-03-26 09:31] npaton commented on #54
There was indeed an issue when trying to set a value to and empty string. It should be fixed with v0.10.0: `meteor update empirica:core`. Reopen if you still see the issue. ⛵️

[2019-03-28 05:57] eamanj opened #55 "How to enforce a specific composition of participants?"
I have a game in which participants come from a panel with known attributes. We direct them to the platform with their attributes in the link. They still have the chance to update their attributes in an intro stage survey. How can I enforce a specific composition of subjects based on an attribute X? For example, I want 3 players with value of x and 2 players with value of y in their attribute X in

[2019-03-28 07:52] npaton commented on #55
There is currently no easy way to do this. Assignment to a game happens early, and it is difficult to change the current system's behavior.

We have recognized this issue and we are working on a large change to Empirica that will address this case and other limitations we have come across. This new release of Empirica is not planned for the near future, but should be available later this year, hop

[2019-03-28 07:52] npaton commented on #54
@eamanj Is this resolved for you?

[2019-03-28 15:57] joshua-a-becker commented on #55
@eamanj  ----  you can hack a solution to this by using your game.init() function to assign people to groups.   It's counter to Empirica's design, but gets the job done.   The downside is that it's "leaky" for participants---i.e., you may find yourself unable to use all participants, and maybe have to pay them something just for showing up.

@npaton  @amaatouq --- i've though a lot about game assi

[2019-03-28 20:15] joshua-a-becker commented on #40
all seems to be working fine :)

[2019-03-28 20:25] joshua-a-becker commented on #38
yes---the "About" section.  i'll create an issue for that, and see if I can figure it out this weekend, as my first attempt at exposing something to the API.  if that works, i'll (eventually) circle back to this issue.

[2019-03-28 20:27] joshua-a-becker opened #56 "Expose "About" Text to API"
Currently says "Here be the presentation of the experiment(ers)

## Proposed Change
Expose this to the API via Empirica.about()

[2019-03-28 20:28] joshua-a-becker commented on #56
i'll attempt to tackle this issue this weekend

[2019-03-29 07:57] npaton commented on #55
@joshua-a-becker Let's plan to meet soon to discuss this, we'd love to get your input.

[2019-03-29 07:59] npaton commented on #38
Great! It should be relatively easy, you can take example on the other exposed components. Thanks!

[2019-03-29 20:21] askyel opened #57 "Uncaught ClientError: Last activity at is not a valid date"
![image](https://user-images.githubusercontent.com/7734809/55257710-59c79e00-5226-11e9-8041-0b14a0d3f4ab.png)

This occurred after using the `$ meteor add empirica:core` in the project directory and then trying to run the project with `$ meteor`.

## Expected Behavior

I was expecting the project to run normally.

## Current Behavior

The project cannot run because of this issue.

## Possible Solu

[2019-03-29 20:28] amaatouq commented on #57
It should be:
npx create-empirica-app my-experiment
cd my-experiment
meteor

[2019-03-30 10:09] eamanj commented on #55
@joshua-a-becker are you saying that I should ask for more participants than I need and hope that the right composition eventually arrives? and send the redundant subjects to exit survey?

[2019-03-30 14:14] amaatouq commented on #55
No, what I believe josh meant is to have playerCount be 20 for example and then create at gameInit() 5 connected components (5 networks) of 4 players each.. in gameinit() you have access to their affiliation so you can decide to make each network exactly 2 and 2... then you have to change the code throughout such that people only observe their peers, not everyone in game.players list.

[2019-03-30 14:50] joshua-a-becker commented on #55
you're both right --- @amaatouq is describing the technique, but this does necessarily result in overflow, so you might have to send some players away.  like, if you need each group to have 50/50 democrats/republicans but you start with a 70/30 composition.... then you end up discarding 40% of your players.

**AND** i was imagining this solution, i realize, in the paradigm where everybody starts a

[2019-03-30 14:51] joshua-a-becker commented on #55
though----i feel like you'd have to discard 40% of your players no matter what the method?  Doug can probably comment better on that as he has experience with this.

[2019-03-30 15:01] amaatouq commented on #55
Or have your treatment be more continues (ie the level of polarization/diversity; rather than a binary treatement) and creating groups at random will allow you to make your causal claim ..  also, you can make sure to qualify 50% of each type (even if the population is unbalanced, ie 70% 30%, which means you’ll over sample the minority group), which will increase your statsitical power.

[2019-04-01 20:26] joshua-a-becker commented on #52
known issue--players' statuses are still set to "finished" upon stage finish, added to to-do list above

[2019-04-02 18:09] eamanj commented on #54
yep. looks like it. thanks

[2019-04-03 20:46] eamanj opened #58 "onNext does not work in exit steps"
Just confirmed with Abdullah that onNext() is missing in exit steps. I have an exit pipeline with 3 steps, and having this.props.onNext(); in handleSubmit() does not do anything.

[2019-04-04 00:43] eamanj opened #59 "Disable focus on first field in instruction steps"
InstuctionSteps have an explicit function that focus on the first field. I don't know the rationale behdind this decision, but to me this seems a bad decision. In our case, it kept forcing the page to load on the first input field which  is below a ton of text and instructions. If the screen is small, subjects will miss the instruction text above the input field and might get confused.

[2019-04-05 00:13] #59 closed

[2019-04-05 00:13] npaton commented on #59
Fixed in latest version: `meteor update empirica:core`.

[2019-04-05 00:19] npaton commented on #58
I agree, `onSubmit` should be called `onNext` like it does in the intro steps. At this point, I do not want to change the API though, as it would break apps already deployed, but it will be fixed in a later major update.

`onSubmit` does work in all my tests. Maybe it's a name issue if you are using `handleSubmit` instead of `onSubmit`?

I am closing this issue for now, and note that the API incon

[2019-04-05 00:19] #58 closed

[2019-04-05 00:24] npaton commented on #57
@askyel A valid Empirica app is depending on a few other npm packages, which are added by `create-empirica-app`, such as react, simpl-schema, etc. `create-empirica-app` also generates a scaffold for starting development, so it is highly recommended to us it.

I am closing this issue, as everything works as expected with `create-empirica-app`, and manual installation is possible, but does require e

[2019-04-05 00:24] #57 closed

[2019-04-05 00:51] #56 closed

[2019-04-06 22:17] eamanj opened #60 "set ExitStatus in onGameEnd"
player.exitStatus is undefined in onGameEnd. I think at this point, exitStatus can be set and examined. Any reason it is not set at this point?

[2019-04-07 18:47] amaatouq commented on #60
There is no exitStatus yet during `onGameEnd` because the game is still active at this point and players have not exited yet. The game has to end first for the players within it to be assigned an exitStatus. players can have `exitStatus` without belonging to a game (e.g., oth if all games are full, if they waited in the lobby and the game did not start) or because the admin canceled the batch form

[2019-04-11 22:43] eamanj opened #61 "disable overflow: auto?"
Why is overflow: auto set in the following:
https://github.com/empiricaly/meteor-empirica-core/blob/a4a74c35cf996d14b737d0a36ec3c655738cfe02/ui/stylesheets/base.less#L37

I believe this creates issues in tiny screens. For example go to a consent page and minimize your screen; at some point text would not use all the space.

[2019-04-11 22:46] eamanj commented on #61
example of how page looks like.

![example](https://user-images.githubusercontent.com/7664300/55997876-20f9e100-5c8a-11e9-8ddc-50e138c6c6e0.png)

[2019-05-08 17:16] alexhustler opened #62 "Performance issues on 0.6.0"
**Version:** 0.6.0

**Issue:**
When using Empirica core 0.6.0 I've noticed the game can become very slow for the players. Some rounds and stages are slow to load in the browser and the slider can be unresponsive. This causes gaps in the data as users don't have enough time to answer the question. Is this a known issue?

**Reproduce:**
The slowness is happening in production and when I test locally

[2019-05-09 19:48] JamesPHoughton opened #63 "Game data not exported with csv/json"
Game data is not exported properly

## Expected Behavior
When data is set for games using
[code]
it should be exported in the data dump to the `games.csv` or `games.json` file.

## Current Behavior
When exporting to `.csv`, the column names `data.name1`, `data.name2` appear, but they are empty.

When exporting to `.json`, the values are missing entirely.

## Steps to Reproduce (for bugs)
[code]
ex

[2019-05-09 22:37] #62 closed

[2019-05-09 22:47] npaton commented on #62
I pushed an update that _should_ fix the performance issue. `meteor update empirica:core`

Note that it is a breaking change!

Empirica used to load all rounds and stages in the browser, which would allow to have logic in the browser looking at rounds/stages other than the current one, which was convenient, if naive. This was fine with 50 rounds/stages, but once you start having 100s of rounds/sta

[2019-05-10 00:09] npaton commented on #63
This should be fixed. You can run `meteor update empirica:core`.

Please reopen if you are still seeing the issue. ⛵️

[2019-05-10 00:09] #63 closed

[2019-05-13 20:07] JamesPHoughton commented on #63
Thanks!

[2019-05-29 06:12] chri4354 opened #64 "Please add "Block Complete" randomization"
## Expected Behavior

I would strongly recommend a feature (which I totally arbitrarily call Block Complete) in the condition randomization algorithms provided. This feature is the same as complete randomization but avoids to distribute participants in the same condition (say A) to different games and instead focuses on filling up one "A" game before assigning participants to another "A" game. Thi

[2019-06-19 04:15] amaatouq opened #65 "Missing bot flag?"
it seem that in the latest update we removed `p.bot`?

For example:

[code]
will always output `bot? undefined` even when the player is a bot indeed.

[2019-06-19 06:39] npaton commented on #65
I could not reproduce the issue on the server, the bot field is always equal to the name of the bot used. On the client, the `bot` field was not always published, it will now always be published starting with Empirica v0.15.0.

I also added a check to make sure bots were defined. If no bots were defined, it could create a bot without a bot field. The error does not block the batch creation, but do

[2019-06-19 06:40] npaton commented on #65
Actually, it went out as v1.0.0 because of a manipulation error on my part, and Meteor does not support unpublishing a release... Oh well.

[2019-06-20 03:06] amaatouq commented on #65
Actually, I am doing this inside a callback: onStageStart(.)

However, I am not importing the bot component in main.js on the server and also commented out the entire bot.js code .. All I need is to set a value onStageStart()

I’ll investigate more and close the issue afterwards.

[2019-06-20 03:28] npaton commented on #65
You must define at least one bot for bots to work in the current system. And you cannot set the bot field manually.

[2019-06-20 13:24] amaatouq commented on #65
Got it

[2019-06-20 13:24] #65 closed

[2019-06-22 00:25] amaatouq opened #66 "botProportion in addition to botsCount"
adding a factor called `botProportion` that determines the number of bots based on playerCount.

[2019-08-12 14:26] amaatouq opened #67 "incompatible change required to top-level dependency"
Running a new experiment on Empirica yield the following error:
[code]

## Possible Solution
Something related to the slider?

## Steps to Reproduce (for bugs)
1. `npx create-empirica-app my-experiment`
2. `cd my-experiment`
3. `meteor`

## Context
This error is blocking

[2019-08-12 18:48] npaton commented on #67
This should now be resolved.

[2019-08-13 14:33] #67 closed

[2019-11-15 23:58] eamanj opened #68 "`player.round.submit()` throws an exception"
I keep getting this error in production. any idea what causes this?
`qanmr
2019-11-15 18:22:53-05:00Exception in setTimeout callback: Error: not permitted
qanmr
2019-11-15 18:22:53-05:00 at MethodInvocation.run (packages/empirica:core/api/player-stages/methods.js:86:13)
qanmr
2019-11-15 18:22:53-05:00 at ValidatedMethod._execute (packages/mdg:validated-method/validated-method.js:94:12)
qanmr
2019-

[2019-11-16 06:37] npaton commented on #68
It is raised after an attempt to re-submit a stage. `player.stage.submit()` should only called once per stage. Once a stage has been submitted, `player.stage.submitted` will become true. This value can be used to disable or hide any submit button.

Note, this error does not change any data, or corrupt any server state, the data in the db should still be valid. It could potentially break client-sid

[2019-11-16 14:52] amaatouq commented on #68
sometimes players just spam the submit button. So on the client-side, I have something  like this
[code]

[2019-11-16 14:54] amaatouq commented on #52
@npaton we have this now, no?

[2019-11-16 14:54] amaatouq commented on #49
the problem has been identified and fixed in the updated version of empirica.

[2019-11-16 14:54] #49 closed

[2019-11-16 14:56] #25 closed

[2019-11-16 14:56] #17 closed

[2019-11-16 14:57] npaton commented on #52
We do. You can now call `player.exit("custom exit reason here")`. The player will be sent to the exitSteps.

The `player.exitStatus` will be set to `"custom"` and `player.exitReason` will contain the custom exist reason given when calling `player.exit(reason)`.

[2019-11-16 14:57] #52 closed

[2019-11-16 14:58] amaatouq commented on #37
is this fixed now, @npaton?

[2019-11-16 14:59] npaton commented on #37
I believe it is. Please reopen if you are still having issues here.

[2019-11-16 14:59] #37 closed

[2019-11-16 16:04] eamanj commented on #68
@npaton but how could a player resubmit in a stage if I disable the submit button once submitted? I basically have code that is very similar to what Abdullah shared, so I am not sure how players can resubmit. Note that this has only happened in production. For example, would latency in rendering cause this?

[2019-11-16 16:23] eamanj opened #69 "Mongo disconnections allow timer to go under 0, Mongo does not automatically reconnect"
I sometimes get another error in production that has never happened locally. The game has five stages and each stage has 30 seconds. The game proceeds to the next stage when both the bot and the player submit. The bot is guaranteed to submit within 30 seconds. This works fine but sometimes in production the game does not proceed to the next stage and timer goes into negative numbers. Not sure exac

[2019-11-16 16:35] npaton commented on #68
If this is a common issue you are seeing, that would indicate a specific problem in your experiment, and I would be glad to look into your issue with some code. But if it is a rare occurrence it is indeed something that could happen from time to time, and should not be cause for worry, unless you are seeing it break the players' experience.

I will explain a bit of the technical details for here f

[2019-11-16 16:44] npaton commented on #69
This could currently happen if the server is unresponsive. I am working on a fix to stop showing the round UI after the timer reaches 0. When the server is ready again, things should update automatically.

If you need to fix this immediately, a props is passed to the Round component called `ended` that is true when the the stage has ended, and you can remove the round UI with that. In the next upd

[2019-11-16 19:31] eamanj commented on #69
Just to clarify, once this happens, it happens for all the subsequent players. The fix is to restart the meteor app, as if the error hangs the server and it never recovers. But it would be good to investigate why it gets to that state.

[2019-11-17 00:46] npaton commented on #69
I will look into it.

[2019-11-17 00:52] amaatouq commented on #69
A few thoughts.

You might need something like this for the bot if you are using `onStageTick' Otherwise, the bot can overwhelm the server:
[code]

Also, you want to have something like this `onRoundStart(.)`:

[code]
Because you might be trying to read or compute something entered by the user, but the variable is never set (i.e., the participant is idle).

[2019-11-17 01:32] #43 closed

[2019-11-18 16:28] amaatouq opened #70 "removing players who disconnect from the batch monitoring"
Maybe adding the player status (idle, online, disconnected) to the batch monitoring. This will give the admin a better sense of whether the game will start or not.

 F=
<img width="855" alt="Screen Shot 2019-11-18 at 11 27 05 AM" src="https://user-images.githubusercontent.com/1761268/69070659-8703cf00-09f6-11ea-93f9-39198c09f4a3.png">

[2019-11-18 21:00] amaatouq opened #71 "Ping idle participants"
add an option when submitting the batch whether to notify `idle` participants about their state (maybe a message or a sound; or both). This will potentially deter some participants from doing other things while taking part in the experiment.

[2019-11-18 21:01] amaatouq opened #72 "Chat in the lobby"
It is a big problem now in online experiments that participants don't believe they are playing with other real people. In the lobby configuration, let's add `enableChat` where participants can chat with each other during their time in the lobby.

[2019-11-19 10:16] npaton commented on #72
This is already possible manually through a custom Lobby component. Simply `Empirica.lobby(MyCustomLobby)`, and add the chat in there. I'd rather not add more magic factors. We could offer a LobbyWithChat as an npm package though.

[2019-11-19 10:21] npaton commented on #71
This might be hard to get absolutely right. First we need to reliably detect idleness. Then there might be experiments that have long phases of observing with no interactions. So we need to make the delay configurable, or dependent on factors, and stages.

This could probably be implemented outside the core, in an NPM package. Without being part of the core, we still have access to the stage/round

[2019-11-19 15:31] amaatouq commented on #72
Yes, but this is going to be a common usage for MTurk from now on. So it should be pretty easy to integrate and find by empirica users.

[2019-11-21 07:59] npaton commented on #70
We can try, but that can be a lot of data to subscribe to in the admin, not sure it will scale all too well.

[2019-11-23 15:29] robwayne opened #73 "`player.exit()` crashes app with error: "TypeError: Cannot read property 'id' of null""
Trying to call `player.exit('with reason')` to exit the game prematurely fails with error: "TypeError: Cannot read property 'id' of null". Calling `player.exit('with reason')` inside the `onRoundEnd()` callback crashes the app.
## Expected Behavior

Calling player.exit('with reason') should bring the player to the exit steps screen.

## Current Behavior

Crashes the app with error:
[code]

## Poss

[2019-11-23 17:02] npaton commented on #73
I pushed a fix, please update (`meteor update empirica:core`) and let me know if you are still having problems. ⛵️

[2019-11-25 00:09] robwayne commented on #73
Thanks for the quick update!

However `meteor update empirica:core` also does not work.  Running this returns with error:
[code]

Additionally, calling `player.exit('with reason')` inside any client Component e.g. `Round.jsx` (outside `callback.js`) works without error, however even if the only player in the game exits (is brought to the ExitSteps screen), the game continues in the background inde

[2019-11-25 11:07] npaton commented on #73
Sorry for the update issue, there was apparently a glitch when I uploaded the last version. Please try to update again (`meteor update empirica:core`).

Yes, indeed, the game should end, and it does not, it's currently a known issue. We decided to give the capability to exit players early, even if we don't have the mechanism to stop the game when all players have exited. It should not break things

[2019-11-25 13:05] robwayne commented on #73
Thanks for your reply! Upgrading empirica:core now works (although after a few tries). Also would love to be kept in the loop for the fix to `player.exit()` and introduction of `game.end()`.

[2019-11-25 13:53] robwayne commented on #73
Also, how long would you estimate the intended behavior fix to take? I assume you have other priorities as well so this is in no way an urge to rush! Our team would love to have the experiment out on Empirica within the next two weeks and it would be great to  have this feature in place if it can be! We currently have a bit of a "hacky" way of  getting around the current behavior. This poses probl

[2019-11-26 11:07] npaton opened #74 "Game should end when last player has exited"
After calling `player.exit("some reason")`, if there are no more players in the Game the player exited, the game should end immediately, and with a clean finished status (maybe with a "finished early" flag).

[2019-11-26 11:12] npaton opened #75 "Add `game.end()` method to allow to end the game early"
The game designer should be able to end the game cleanly at any point. Should save timestamp of when the game ended and maybe a different state than just "finished"

Question: Should we add a status message? As a note for the designer as to why the game ended early. Not sure it's useful as we can always set custom values like `game.set("myreasonforending", "noreason...")`, but it would make it lik

[2019-11-26 11:13] npaton commented on #73
I see. New players shouldn't be able to be assigned to an ongoing game. And players coming back with the same Player ID should be lead back to the exit. That said, I am not sure your exact scenario, and there are probably edge cases for this.

We will probably not be able to change this within the next couple of weeks unfortunately. I am on a semi-vacation at the moment. 🏖 We do also have a large

[2019-11-26 11:13] #73 closed

[2019-11-27 20:17] JamesPHoughton opened #76 "Running on multiple containers"
I'm running a 40 player game using galaxy and a mongodb/Atlas backend. I have been overprovisioning both my galaxy instances and my database, because doing so is much cheaper than a failed game. (Found that one out the hard way!) I'm running 3 quad containers on the app, and an M20 cluster for the db.

Talking with @amaatouq today, it sounds like it is surprising that this works (as empirica is si

[2019-11-28 09:44] npaton commented on #76
Hey @JamesPHoughton. Thank you so much for the feedback!

Indeed, Empirica is not currently well suited to multi-server deployments unfortunately, and it's not something our poor documentation states anywhere yet I think (we have plans to improve documentation).

I'm glad to hear it worked well for you, but I must warn that there could be complications. There could be race conditions (such as conc

[2019-12-01 05:07] robwayne commented on #75
Hi @npaton, you mentioned you could  possibly be able to help with the problem we were having. Would it be possible to communicate over email? Additionally, we have a question: is it possible to dynamically add rounds while the game is playing? Thanks!

[2019-12-02 10:05] npaton commented on #75
It is currently not possible to add rounds while the game is playing. Another feature we do want to add. The workaround we've recommended is to create as many rounds as you will need at the maximum, and then exit players early when the time is right. It's not ideal and has the same issue of the game not ending when everyone exits, but it can sometimes help get around the current limitation.

You c

[2019-12-02 21:28] JamesPHoughton commented on #76
Thanks @npaton! Good to have the warnings about what may not work. So far I have only run one game at a time - is that protecting me from having a user assigned multiple times to the same game (and is this what you mean by concurrent assignment?)? Would I be more likely to have issues if I ran multiple games at the same time?

I rely a fair amount on the `player.append()` callback - I log each use

[2019-12-03 09:15] npaton commented on #76
Normally, assignment is protected against concurrency issues, but it's not necessarily a highly reliable mechanism (Mongo does not have transactions, so for assignment in particular we use conditional writes and loop until a write works, though the whole operation is a little more complex than that). And there are a few other places that could have issues for essentially the same reason. You shoul

[2019-12-03 15:09] JamesPHoughton commented on #76
Thanks @npaton, `player.log()` looks like the way to go. I'm being really inefficient at the moment and using `player.set()` to give neighbors access to the player's state, and also `player.append()` to log actions. That'll be for experiment number 2....

[2019-12-05 22:18] JamesPHoughton opened #77 "Default exit steps fail when Empirica.exitSteps is not defined"
This isn't something that is likely to come up often, but:

## Expected Behavior
Documentation in `client/main.js` says:

## Current Behavior
No default exit screen is produced, the following errors are raised:

![image](https://user-images.githubusercontent.com/4304478/70278285-fd882700-1781-11ea-92fc-c897f99c7176.png)

This occurs either if
[code]
or
[code]
but does not fail if:
[code]

## Steps

[2019-12-09 22:02] JamesPHoughton opened #78 "player.log(name, jsonData) loses 'name' somewhere before export"
The name information associated with a log event does not show up in the exported `player-logs.json` or `player-logs.csv`.

## Expected Behavior
If I create a log using the implied syntax:
[code]
and then look at the exported `player-logs.json`, I expect to see a field {..., "name":"test" ...} or similar.
if I look in `player-logs.csv` I expect to see a "name" column.

## Current Behavior
The resu

[2019-12-09 22:17] JamesPHoughton commented on #78
Looks like it was just left off the export list:

https://github.com/empiricaly/meteor-empirica-core/blob/65f975dbe95ab56d6cc05cecd70bcdb8eeb7db83/startup/server/export.js#L447-L455

See if I can fix this and PR.

[2019-12-09 23:07] JamesPHoughton commented on #78
Well, it updates to the db properly, as shown in the mongo shell:
[code]
but adding `"name"` to the `playerLogFields` list doesn't seem to be making any difference. (Assuming I'm running my local code properly... I think so.)

I may be in over my head here - not much experience with databases. @npaton  - what am I missing?

[2019-12-09 23:31] amaatouq commented on #78
Make sure you're running your app with the `METEOR_PACKAGE_DIRS` variable set, for example:

```[user@linux]$ METEOR_PACKAGE_DIRS=/home/location-of-custom-core meteor```

^^that "location of custom core" should be the root folder of your clone of the [meteor-empirica-core](https://github.com/empiricaly/meteor-empirica-core) repo.

[2019-12-10 15:30] JamesPHoughton commented on #78
Thanks @amaatouq, that was the trick!

[2019-12-12 08:49] #78 closed

[2019-12-12 10:53] npaton commented on #78
The fix was deployed in 1.4.0, you can update with `meteor update empirica:core`. Thank you for the fix @JamesPHoughton! ⛵️

[2019-12-13 19:52] JaloteEshi opened #80 "Letting the player select the count of how many times he wants to view the other players choice"
Is it possible to achieve this

Hierarchy Choice: After Round 10, people need to be able to choose how much speaking time each person gets (i.e., how many times will we see person A's guess?)

Each will choose their preference for A, B, and C. For example, A may select A 3 times, B 3 times, and C 3 times. B may select A 2 times, B 5 times, and C 2 times. C may select A 2 times, B 4 times, and C 3

[2019-12-15 12:09] npaton commented on #80
I am not sure I understand exactly the situation, sorry if I'm off-topic.

The logic for allowing players to choose their preference and then have one randomly selected should be possible with a combination of some UI work (to allow them to input their preference, and saving choices with `player.set("a", 2); player.set("b", 5); ...`), and in a onRoundEnd callback to randomly select one of the 3 de

[2019-12-31 08:00] npaton commented on #80
I am closing this issue as it's not a bug, but we can keep the conversation going if needed. 👍

[2019-12-31 08:00] #80 closed

[2020-01-09 19:29] alexhustler commented on #68
@npaton I'm seeing this same issue on production and I can't reproduce locally. It's happening once every 4 or 5 rounds.

I'm going to try storing `isSubmitted` in the local state of the component, instead of relying on `player.stage.submitted`, to avoid this latency issue.

[code]

[2020-01-16 19:02] JamesPHoughton opened #82 ""Uncaught Error: Invariant failed" in client errors"
Running a game with Galaxy's APM enabled, I see this error reported by two users:

[code]

It doesn't seem to have influenced the player's behavior, but it's hard for me to be sure. Is it a big deal?

## Environment
The clients in question were running:
1. Chromium 78 on Ubuntu
2. Chrome 79 on Windows 10

I'm running:
Empirica 1.4.0
Meteor 1.9.3
Node 13.1.0
all on Galaxy

[2020-01-17 02:30] npaton commented on #82
It's hard to tell exactly what's going on from this stack trace. It seems like it might be related to ReactRouter and using <Link> outside <Route>, or different versions of ReactRouter being used at the same time (which shouldn't be happening unless you've made changes to the routing). Do you use a different render root than the default, meaning, did you change the following in `client/main.js`:

[2020-01-17 02:30] #82 closed

[2020-01-18 15:51] Shamma009 opened #83 "A Link is missing from the tutorial"
### A Link is missing from the tutorial

## Expected Behavior
 There is a missing link which  shows how to open multiple players in one browser. It is in bold below

Go to http://localhost:3000/ and enjoy! If you don't have 3 friends to play with you, you always can use the new player button in development (f**or more details see this**), which can add an arbitrary number players to the experiment

[2020-01-26 04:03] alexhustler opened #84 "Performance issues in 0.14.0"
When a game has 150 rounds and 15 players the game becomes very slow and unresponsive. This is very similar to the behavior described here https://github.com/empiricaly/meteor-empirica-core/issues/62.

Thanks

[2020-01-30 02:11] npaton commented on #84
I have a couple questions to help me understand the problem better. So this is a regression? On that previous issue #62, did you see an improvement after the update I made back then?
Have you tried with a lower set of round, with say 50 or 100 rounds? Are we sure the issue become worse  with the number of rounds?
I will try to run some tests to see if it's something and I can reproduce. Obviously,

[2020-01-30 13:34] alexhustler commented on #84
- I'm not sure if it's a regression. I definitely saw improvements after the last performance fixes you made, but there was still some slowness.
- If there are less rounds and less players I don't see the performance issues.

- I've noticed some of the React components are being rendered many times every second. For example the Timer.jsx component can be rendered 20-30 times/second and the TaskSti

[2020-01-31 07:38] npaton commented on #84
Thank you Alex. Components do tend to re-render too much for sure. I think there are other problems as well. We will be taking a long look at this in this beginning of next week, I let you know when we have made progress.

[2020-02-03 14:05] hubertusputu1 commented on #84
Hi @alexhustler , my name is Hubertus. i am here working with @npaton and looking into this problem. I did a certain test with 150 rounds and 15 players, i updated 2 values on each player every 1s. I run the experiment until it reached more than 50 rounds, and it still looked ok without any performance issue that you mentioned previously. Is it possible for us to look into your code and try to rep

[2020-02-05 07:06] npaton commented on #76
I am closing this for now. We will be doing work on horizontal scaling this year. ⛵️

[2020-02-05 07:06] #76 closed

[2020-02-05 07:21] npaton commented on #71
This is probably not something we will be adding to core. We do have idle information on the player already, so it is something that can be added outside of core. Closing (I will add open an account on a feature tracking service so we can track these kind of requests, it still might be something we want to add as a package, but not in core).

[2020-02-05 07:21] #71 closed

[2020-02-05 07:35] npaton commented on #72
@hubertusputu1 For this, lets extract the current chat from [here](https://github.com/amaatouq/room-assignment-legacy/blob/5510eb2ae5b3914adde640cebb0154abab7dc958/imports/experiment/client/game/ChatLog.jsx) and make it into an npm package on the model of https://github.com/empiricaly/random-dot-kinematogram, which is an npm package under the `@empirica/` namespace (will give you access).
Lets mak

[2020-02-05 07:38] npaton commented on #68
@hubertusputu1 Make sure submitting twice does not throw, but if already submitted it logs it to the console, in development. In production it does nothing.

[2020-02-05 07:39] #60 closed

[2020-02-05 07:41] npaton commented on #48
I believe this is something that was fixed and we haven't heard about again, please reopen if you see this issue again.

[2020-02-05 07:41] #48 closed

[2020-02-05 07:42] npaton commented on #39
This is not something we will be able to fix in Empirica v1. I am closing, but it is something that will be addressed in v2.

[2020-02-05 07:42] #39 closed

[2020-02-05 07:46] npaton commented on #30
Added here: https://empirica.getcadet.com/feature-requests/posts/add-the-ability-to-whitelist-blacklist-player-ids-in-the-admin

[2020-02-05 07:46] #30 closed

[2020-02-05 07:48] npaton commented on #71
Added to: https://empirica.getcadet.com/feature-requests/posts/ping-idle-participants

[2020-02-05 07:48] #29 closed

[2020-02-05 07:50] npaton commented on #27
Added here: https://empirica.getcadet.com/feature-requests/posts/make-empirica-multi-thread-capable

[2020-02-05 07:50] #27 closed

[2020-02-05 07:51] npaton commented on #23
I think this is no longer relevant.

[2020-02-05 07:51] #23 closed

[2020-02-05 07:53] npaton commented on #18
For v2 we will most likely be changing license. Still very open, but with a little more protections. It's already something planned for v2, so closing here for v1.

[2020-02-05 07:53] #18 closed

[2020-02-05 07:54] npaton commented on #9
I don't think this is still an issue.

[2020-02-05 07:54] #9 closed

[2020-02-06 02:05] hubertusputu1 commented on #83
Hi @Shamma009 , my name is Hubertus, i am here working with @npaton and looking into this problem. The docs was updated, you can check on this https://docs.empirica.ly . We will link the new docs to the current link soon. Thank You.

[2020-02-06 02:05] #83 closed

[2020-02-11 09:18] hubertusputu1 commented on #84
Hi @alexhustler . Thank you for the access to your repo, i already checked it and was able to reproduce the performance issue. Just for your information, i was able to reproduce it with just a one player. The issue is located on your file `TaskStimulus.jsx` on line 69. Your code try to set the `player.round.set("cueAgreement", roundLocalAccurate === ifp.globalAccurate)` inside a `render()` functio

[2020-02-18 01:48] #77 closed

[2020-02-18 01:48] #84 closed

[2020-02-18 13:21] JamesPHoughton opened #86 "create-empirica-app loads empirica 1.1.0 instead of most recent version"
## Expected Behavior
Using `npx create-empirica-app` should load the most recent version of empirica (currently 1.4.0)

## Current Behavior
Currently loading 1.1.0

## Possible Solution
It may be just a line change to the most recent version, but I don't really understand Node well enough to know if there are more changes needed.
https://github.com/empiricaly/create-empirica-app/blob/master/templa

[2020-02-19 20:26] JamesPHoughton opened #88 "Upgrade bcrypt in create-empirica-app to avoid meteor error on Catalina"
`create-empirica-app` currently requires bcrypt@3.0.3. There don't seem to be any Catalina prebuilds for the dependency, and meteor seems to be having issues building from scratch: https://github.com/meteor/meteor/issues/10928. (Or I've made some other mistake, TBD)

## Steps to Reproduce
The command:
[code]
Yielding:
[code]

## Possible Solution
A workaround for empirica would be to upgrade the b

[2020-02-20 08:59] LBrinkmann opened #89 "Slow transition between stages in games with many rounds"
## Current Behavior
We found transitions between stages running slow (~1500ms) on games with many (>80) rounds. Additionally, we experienced high workloads on the database (>100 queries/s with only 8 games).
We could trace the issue back to a number of database fetches before a round is finished:

https://github.com/empiricaly/meteor-empirica-core/blob/f01ca69d3078fc8efd25129a1ac23e3f0cb34d22/api/

[2020-02-20 09:06] LBrinkmann opened #90 "Game starts slow for games with many rounds / stages"
## Current Behaviour
We found the game creation being bottlenecked by the database performance for games with many rounds and/or many stages. In our setting with 80 rounds a 3 stages and an external database, game creation could take up to 40seconds. The reason seems to be a large number of individual inserts/updates during creation.

https://github.com/empiricaly/meteor-empirica-core/blob/f01ca69

[2020-02-20 09:39] npaton commented on #90
That would make a lot of sense, we will be looking into that. Thank you.

[2020-02-20 09:46] npaton commented on #89
Ah, yes, lots of rounds will make loading all of them here, plus all stages, quite slow. We wanted to afford convenience, but it does come at the cost of performance. We do have plans to address this issue in v2 (later in 2020). In v1, since the system does not support multi-server deployments, we could consider a simple local cache for this data. Another solution that has helped increase performa

[2020-02-20 10:03] npaton commented on #90
For reference: https://mongodb.github.io/node-mongodb-native/api-generated/unordered.html

[2020-02-20 10:07] npaton commented on #86
@hubertusputu1 we should to try automate this on new versions of core (might not be able to put it on circleci, but at least with the package.json scripts, and a know place for create-empirica-app clone, probably just `../create-empirica-app`):
- pull latest github.com/empiricaly/create-empirica-app
- change empirica version
- update npm package version
- publish on npm
- commit changes

[2020-02-20 10:10] npaton commented on #88
@hubertusputu1 I don't know what's the problem with bcrypt, it has been a pain for years, always something new. If we could stop depending on it, great. Still think it's needed for admin authentication. I don't think we can really easily replace authentication there at the moment. Maybe a simple bcrypt version update will help, otherwise, if we'll need dig into the root cause if it not wanted to b

[2020-02-24 10:57] LBrinkmann opened #91 "Allowing Player to be removed and added to a game"
## Motivation
We like to study chains, where participants can enter and leave a game in a flexible manner. We do believe there is currently no satisfying way to implement this within empiricaly natively.

## Current Behaviour
Currently, games are strictly tight to a fixed set of players. A game starts when enough player is in the lobby. Afterward, no player can be added or removed from a game.

##

[2020-02-24 11:13] LBrinkmann opened #92 "Exposing a new batchInit() and batchEnd() hook"
## Suggestion
We found it very useful to be able to customize the game creation and treatment assignment process. For this reason, it would be great to have similarly to gameInit() also a batchInit() hook as an alternative to the "simple" and the "complete" treatment assignments. Similarly, we could imagine making use of a batchEnd() hook to trigger some external cleanup.

[2020-02-24 15:59] josephbb opened #93 "Logging Submission Timestamps"
It would be useful to have a server-side timestamp when the player presses submit. In the current version of empirica, this can be done either clientside in submit callback, or serverside in the onSubmit callback. Client-side timestamps are unreliable and out of sync with the server. Unfortunatlely, the round object passed to onSubmit server is not the player-round and accessing the player.round o

[2020-02-25 15:00] LBrinkmann opened #94 "Lazy data fetching in game callbacks"
## Suggested behavior

The game callbacks only receive the game and not the players, stages, and rounds. Instead, helpers on the game object could allow to conveniently fetch additional data when needed.

## Current Behaviour

Prior to any callback (such as onRoundStart, onStageTick, ...) the game, the player, the stages and all rounds are fetched from the mongoDB. Unfortunately, meteor does not s

[2020-02-29 13:12] npaton commented on #91
This is something we want to fully support in Empirica v2, on which we are currently working. Adding it to the current architecture would be difficult. Removing players from a Game is already possible with the `player.exit(reason)` API, but that just send them to the exit steps and there is no way to add a player mid-game at the moment. But it's definitely something we want to support.

Concerning

[2020-02-29 13:12] npaton commented on #92
We do have an alternative in the works for doing custom assignment. We are trying to add it to v1, and it will use a simple API, close to what you describe. For onBatchEnd, that's a good idea and it should be relatively easy to add. 👍

[2020-02-29 13:15] npaton commented on #93
It's a good idea, we will add an automatic timestamp. And we will add `player.round/stage.set/get` in onSubmit.

[2020-02-29 13:47] npaton commented on #94
We do plan to not pre-load all of these in Empirica v2 (and we will probably have some amount of local caching that could be enabled). I think the most commonly used objects (player, current round and stage) do still make sense to make available immediately, as the cost is moderate and the use case common ; and we can probably hide the DB calls for the large collections behind a JS getter. So if w

[2020-03-03 09:49] #90 closed

[2020-03-03 09:53] hubertusputu1 commented on #90
Hi Levin @LBrinkmann , my name is Hubertus, i am here woking together with @npaton to solve this issue. Issue is solved and the improvement will appear in the upcoming next version of Empirica. Thank You 😊

[2020-03-04 05:09] #93 closed

[2020-03-05 06:11] #88 closed

[2020-03-05 06:13] #72 closed

[2020-03-05 13:23] #68 closed

[2020-03-06 02:07] hubertusputu1 commented on #36
Hi @joshua-a-becker , this issue will be fixed in the next release. Thank you.

[2020-03-06 02:07] #36 closed

[2020-03-10 05:07] #38 closed

[2020-03-10 10:37] #75 closed

[2020-03-10 10:38] #74 closed

[2020-03-12 05:48] #21 closed

[2020-03-17 03:22] hubertusputu1 commented on #69
Hello @eamanj , since we cannot reproduce this issue, we will close it for now. If this issue still happening to someone, they can reopen with further context information. Thank You.

[2020-03-17 03:22] #69 closed

[2020-03-19 14:44] Kirak91 opened #105 "Group Experiment Failed"
Is there any way to reject participants automatically who spend longer than 7 minutes on the instructions or who just went offline?

- Link to your project:
https://hgvl-2.meteorapp.com

[2020-03-19 14:53] amaatouq commented on #105
My general recommendation is to always recruit more people than you need. That is, if you need 15 people for your experiment to start, then you should recruit 25 people. They will all be able to go through the instructions (and they will be assigned to different conditions randomly) but only the first 15 to finish the `intro steps` (including passing the quiz, if it was included) will join the act

[2020-03-19 14:57] amaatouq commented on #105
Also, you can push participants to the `exit steps` using `player.exit("some good reason here")` at any point.

[2020-03-19 15:06] JamesPHoughton commented on #105
Here's what I do to launch a 40 player game (and has scaled well to 80 players). Assume I want the game to launch at 2 pm:

1. Launch a 'signup' HIT at 1 pm explaining the HIT, and having individuals say "I commit to showing up at 2 pm" as the completion code. This runs for 45 mins (till 1:45) and gives players $0.05 just to sign up. It takes <30 seconds, and I allow them 5 mins once they accept t

[2020-03-20 08:44] #94 closed

[2020-03-20 18:45] JamesPHoughton commented on #88
I'm still getting this error with `meteor update` in a new app. Is it possible npm is still on previous version?

[2020-03-21 07:29] #46 closed

[2020-03-21 07:29] npaton opened #106 "Recover when onGameInit throws"
Then there's a bug in onGameInit, and the callback throws, we currently do not catch it in the core, and so the player just doesn't see anything happening, or intro steps reloading.

We should probably catch the error, and send the player to the exit, with a "sorry, we encountered an issue" message.

[2020-03-21 07:32] npaton commented on #106
Actually we should catch all callbacks, relay the error in full to the logs, but not let the whole server explode. On other callbacks, I don't know if we should send players to exit. I feel like any callback blowing up breaks the sate of the game. For now, lets only move players to exit if onGameInit throws, because for sure the state is broken then, we don't have the game parameters. And catch, r

[2020-03-21 07:52] npaton commented on #88
Sorry, this was not released yet. We will do a release early next week. It should fix the Catalina issue.

If you need a fix before the release, I've found the instructions here https://github.com/nodejs/node-gyp/blob/master/macOS_Catalina.md to be working.

[2020-03-24 11:30] #106 closed

[2020-03-24 20:30] JamesPHoughton opened #109 "Multiple chat windows?"
As I understand the code, there is currently one chat window in each round that all participants in the round share. I'm interested in having multiple chat windows, with arbitrary subsets of players in each window, and allowing multiple chat windows per player. Before I try it, I wanted to see if I'm understanding things correctly, and get your thoughts on an approach.

Just from a little bit of t

[2020-03-30 14:34] JamesPHoughton opened #110 "Delete/Archive factor value"
If I am creating Factors in the `/admin/factors` interface, and I make a typo, I can archive the Factor and try again. However, if I make a mistake while entering a Factor Value, I have to either archive the whole Factor and recreate all of it's values, or I can export and edit the `.yaml`.

It would be nice to be able to just delete a Factor Value in the interface itself, possibly just as a littl

[2020-03-30 14:37] amaatouq commented on #110
I guess we should only archive the factor value because there might be running (or finished) games with these old factor values.

[2020-04-02 12:57] amaatouq opened #111 "filter players list from the Admin UI"
The `players` list in the admin UI can grow very quickly and we should be able to filter the view based on: `status` and `registration timestamp`

![image](https://user-images.githubusercontent.com/1761268/78251867-f4a12b00-74bf-11ea-9cfd-c043393c319d.png)

[2020-04-05 14:36] amaatouq opened #112 "shuffled batches/games/players in the admin UI after dump/restore"
When dumping the data from MongoDB and then restoring them, the order of batches, games, and players in the admin UI get shuffled. It seems like there is a `sort` missing in displaying these items in the admin UI.

[2020-04-10 16:45] JamesPHoughton opened #115 "game.treatment in intro steps is outdated"
A page in the intro steps has a game object, containing a treatment object. However, the treatment object doesn't seem to match any open treatments.

## Expected Behavior
If the treatment object exists in the intro steps, I would expect it to correspond to the treatment for the game that the player will eventually play. Alternately, if the treatment hasn't been assigned yet (although I think it ha

[2020-04-10 18:45] JamesPHoughton commented on #115
Golly, now I can't even reproduce this. Won't it be nice when everything's back to normal and I have my brain back?

[2020-04-10 18:45] #115 closed

[2020-04-24 20:20] JamesPHoughton opened #118 ""can't create index" error"
Running games on Meteor Galaxy, I see the following error arrive in the server log:

<details><summary><code>can't create index: Batches/{"createdAt":1}. MongoError: Index with name: createdAt_1 already exists with a different name`</code></summary><p>

<code>
2020-04-24 14:20:53-04:00can't create index: Batches/{"createdAt":1}. MongoError: Index with name: createdAt_1 already exists with a differ

[2020-04-25 03:45] npaton commented on #118
@hubertusputu1 Would you mind taking a look at this (on Monday)?

I can't tell if SimplSchema suddenly started creating indexes like it's supposed to and our manual index creation code is no longer necessary. To me it looks like that. But in any case, we should not explode and try to create all needed indexes, so I propose we just add a try{}catch{} around the index creation and do nothing in the

[2020-04-26 17:26] LBrinkmann opened #119 "Hooks non functional since recent changes"
## Expected Behavior
The callback provided to game hooks, such as `onStageStart` should be provided with `game, round, stage` as arguments.

## Current Behavior
Since recent changes in `server.js`
https://github.com/empiricaly/meteor-empirica-core/blob/44d1bfcde9ef4151b12b63b908c51418aa13b844/server.js#L82
the callbacks are not provided with `game, round, stage`. Instead, they are provided with th

[2020-04-27 02:12] hubertusputu1 commented on #118
@npaton sure, i will look on this issue.

[2020-04-27 15:17] JamesPHoughton commented on #109
Solved with https://github.com/empiricaly/chat/commit/bbd43b3e5e36eb107b4f076a1a951e6836b55d3c,

Here's an example that sets a chat window in part of the page, and sets the title to be "Chat with: John, Sue, Mary":

[code]

And you also need to set the style so that the element will be set at the described position in the page, not at the lower-right corner of the browser window.

[code]

[2020-04-27 15:17] #109 closed

[2020-04-30 01:57] #118 closed

[2020-04-30 01:58] #119 closed

[2020-04-30 02:00] npaton commented on #119
A fix for this should be released today. 👍

Very good to hear, thank you for the feedback!

[2020-05-04 16:54] JamesPHoughton opened #125 "Graceful gameInit failure"
I accidentally created a stage with a null duration today, and (quite reasonably) it threw an error.

[code]

 However, it also canceled all other simultaneously running games within the batch.

## Expected Behavior
I would expect that a fault in on one game in the batch would not preclude other games from finishing - or if the experimenter wants to immediately discard batches with errors, this be

[2020-05-07 12:12] JamesPHoughton opened #126 "Query Targeting: Scanned Objects / Returned has gone above 1000"
I had this issue in my inbox this morning:
![image](https://user-images.githubusercontent.com/4304478/81292569-d0de8100-9039-11ea-9314-a68a55ba89cf.png)
I'm not sure if it means I'm doing something wrong, or if I just have a big database?

There's not really that much going on:
![image](https://user-images.githubusercontent.com/4304478/81292678-071c0080-903a-11ea-92ad-4ef74c069425.png)

I could cl

[2020-05-08 05:41] npaton commented on #126
It is a side-effect of how Meteor works, and it should not cause any issues. It’s a warning for something that is not an actual problem in our context. It has to do with Meteor reading the Mongo oplog, which is a capped collection with all document changes, and that can’t take indexes ; Meteor uses that collection to reactively synchronize data, which requires scanning documents, which in itself i

[2020-05-08 17:14] JamesPHoughton commented on #126
Thanks!

[2020-05-08 17:14] #126 closed

[2020-05-15 14:09] JamesPHoughton opened #127 "bot `onStageTick` callback not being called"
It seems that the `onStageTick` callback in the bot definition isn't being triggered in my experiment.

I'm not quite sure how to debug the call. Using the meteor debugger, I can't get a breakpoint to break in the `api/games/server/cron.js` `Cron.add(...)` function. However stages are timing out properly, and that seems to be controlled by the same function. Perhaps whatever executes the function

[2020-05-15 14:42] JamesPHoughton commented on #127
Actually, I can set a breakpoint, but I was trying to do so after
[code]
and `bot.onStageTick()` is not a function. (That's a great reason for it not being called!)

`bot.toString()` returns "() => safeCallback("bot", func)".

but the `onStageTick` is in the scopes:
![image](https://user-images.githubusercontent.com/4304478/82062957-e0dd0d00-9698-11ea-9327-8f303469145f.png)

maybe something change

[2020-05-15 15:38] JamesPHoughton commented on #127
I think there may be a mistake in applying safeCallback to the object that the `Empirica.bot` takes as a second argument. (as the second argument is not a function): https://github.com/empiricaly/meteor-empirica-core/commit/3e89595f8c12485deb41714aa81415f71f19e5cb#r39205050

[2020-05-15 16:26] JamesPHoughton commented on #127
Created a PR (https://github.com/empiricaly/meteor-empirica-core/pull/128) to pass the bot object (not a function) straight through to `api/games/server/cron.js` ` Cron.add()`. This moves the syntax back to how it was prior to the above change. Not sure if you want to add some of the function of safeCallback to the functions that are part of the object.

[2020-05-18 08:14] npaton commented on #127
Thank you for fixing that James! For now let's just revert, the bot API isn't used as much, so we will forgo the addition of the safeCallback for now, and see if it's an issue.

@hubertusputu1 Let's push out a new release this week, and close this issue when done. 👍

[2020-05-19 00:21] hubertusputu1 commented on #127
@npaton Ok noted.

[2020-05-21 15:06] JamesPHoughton opened #130 "Software-in-the-loop testing with bots"
I'd like to be able to test the details of my experiment implementation and analysis code by simulating a full experiment (i.e., all `n` games) using bots. I've ported a simulated agent from an agent-based model that I used to develop the game. If I have developed the game properly (and my analysis pipeline is correct) then with all bot players, the experiment should give largely the same macro-le

[2020-05-21 16:21] JamesPHoughton commented on #130
Looks like the code that launches the game `createGameFromLobby(gameLobby)` is only called after a `GameLobbies` collection update that involves changes to players. https://github.com/empiricaly/meteor-empirica-core/blob/master/api/game-lobbies/hooks.js#L26-L30

After we `▶start` a bots only game, there doesn't seem to be an update that meets the `fieldNames.includes("playerIds")` condition. (Not

[2020-05-21 16:32] JamesPHoughton commented on #130
Some ways to deal with this would be:

1. remove the short-circuit that requires that a GameLobby collection update `playerIds`.
2. when the batch is created, check if `botsCount` == `playerCount` and if so, call `createGameFromLobby()`.

Problem with the first is that the short-circuit saves a lot of unnecessary computation. Problem with the second is knowing which gameLobby to use to create the

[2020-05-21 17:49] hubertusputu1 opened #131 "game.players inside gameLobby doesn't return the entire players"
when we call game.players upon gameLobby, it only returns one player, it should return all the players on the current lobby.

## Expected Behavior

it should return all the players on the current lobby.

## Current Behavior

when we call game.players upon gameLobby, it only returns one player.

## Possible Solution

## Steps to Reproduce (for bugs)

1. calling game.players() inside custom lobby co

[2020-05-21 19:28] JamesPHoughton commented on #130
Turns out that there *is* enough information in the call to `GameLobbies.after.update(...)` to decide to run the function when the batch is started, i.e. that the update is a status update that changes the status to 'running'. If that happens, we can proceed with the function, which will then check if there are enough players. There are only enough players in this situation if the `botsCount==play

[2020-05-21 20:09] JamesPHoughton commented on #130
Created a PR (https://github.com/empiricaly/meteor-empirica-core/pull/132) to allow all-bot games, I think the pattern is a robust one. The `GameLobbies.after.update(...)` function proceeds at the batch start and when players are added, and appropriately 'waits' until the game is full otherwise.

[2020-05-23 21:33] #130 closed

[2020-05-23 21:49] #125 closed

[2020-05-23 21:54] npaton opened #133 "Fail game with callbacks throw"
## Expected Behavior

Throws in a callbacks should be considered fatal for the game, the game should be cancelled and players sent to exit.

## Current Behavior

The game continues on in an uncertain state. The error is caught, but maybe the game could be broken, the safer behavior is to cancel the game.

## Possible Solution

Instead of just logging the error here:

https://github.com/empiricaly/

[2020-05-25 16:12] #131 closed

[2020-05-25 16:15] #133 closed

[2020-05-27 06:26] #127 closed

[2020-05-29 15:01] JamesPHoughton commented on #88
Doesn't look like the fix made it to the `create-empirica-app` template:

https://github.com/empiricaly/create-empirica-app/blob/86bd4f9fe8f385451aa7515d809d49cc7ddf58a0/templates/basic/package.json#L9

[2020-06-02 10:40] npaton commented on #88
This should be fixed now. We moved to bcrypt 4, which should no longer have these build problems. We also updated Meteor and most dependencies. ⛵

[2020-06-09 16:37] jwburton opened #140 "Error in callbacks after updating Empirica Core"
I recently updated Empirica Core and now encounter an error with callbacks whereby participants are passed directly from the lobby to the exit survey, skipping over the entire game protocol.

The error log below explains that this is due to the "players" argument being deprecated.
![error-log-1](https://user-images.githubusercontent.com/53270059/84173738-9a02ed00-aa75-11ea-8905-346ef714ac03.png)

[2020-06-11 13:29] JamesPHoughton commented on #140
You should be able to do just:
[code]

The deprecation warning is trying to suggest that you use `game.players` within the arrow function if you need access to the `players` object, as it won't be passed to the callback separately. This is ok, because the `players` object is an element of the `game` object. =)

In your particular example, you aren't running any new code inside the callback (ie, th

[2020-06-11 13:31] JamesPHoughton commented on #140
Just so you have it handy, here's the syntax for the other callbacks, from the updated template game:
[code]

[2020-06-11 14:33] npaton opened #141 "Add checkbox to disable export of PII"
By default, `player.id`, `player.urlParams`, and `player. lastLogin.ip` should not be exported as they can contain Personal Identity Information (PII).

Tasks:
- [ ] add checkbox to export, that is always checked by default that states: "Remove Personal Identity Information (includes the player ID, URL parameters, and IP address)". This sets a remove_pii flag in the export request sent to server.

[2020-06-11 17:56] JamesPHoughton commented on #141
In the same area, it might be nice to export (and potentially automatically retrieve) a player bonus `.csv`, formatted for MTurk or whichever platform is used to recruit participants.

[2020-06-12 03:02] npaton commented on #141
@JamesPHoughton  That sounds good. If you have a link to the format(s) that would need to be in, feel free to create another ticket for that 👍

[2020-06-12 06:46] npaton commented on #140
Thank you @JamesPHoughton. I believe this should solve your issue @jwburton. Feel free to comment here if you're having further problems. ⛵

[2020-06-12 06:46] #140 closed

[2020-06-14 02:34] hubertusputu1 opened #142 "Bug on splitting parameters on game callback"
doing the game.set('key', 'value') inside onGameStart callback will produce an error

## Expected Behavior

## Current Behavior

## Possible Solution

## Steps to Reproduce (for bugs)

1. doing a game.set() on onGameStart callback

## Context

## Your Environment

- Version used:
meteor-empirica-core: 1.6.0

[2020-06-17 08:35] hubertusputu1 opened #144 "player.exit function should work before game started"
player should be able to exit before game is started (on current condition, player only able to exit inside game)

## Expected Behavior

doing `player.exit('reason')` from before game started should lead player to exits.

## Current Behavior

It will return error `Game ID is required`. Because we don't have the gameId yet.

## Possible Solution

create a specific function player.exit() before the

[2020-06-17 08:49] #142 closed

[2020-06-17 10:37] hubertusputu1 opened #146 "Missing roundIds field on games collection"
Missing roundIds field inside games collection when the game is created

## Expected Behavior

roundIds should be on games collection

## Current Behavior

roundIds is missing on games collection

## Possible Solution

assign roundIds on games collection

## Steps to Reproduce (for bugs)

1. checked it database, under games collection
2.
3.
4.

## Context

## Your Environment

- Version used:
- En

[2020-06-17 10:38] npaton commented on #146
I think we should rather remove the roundIds field from the Game.

[2020-06-17 10:41] #144 closed

[2020-06-17 10:42] hubertusputu1 commented on #146
@npaton Ok noted.

[2020-06-17 15:53] bmtappin opened #147 "Error installing meteor via the terminal"
## Expected Behavior

I tried to install meteor by pasting the command "curl https://install.meteor.com/ | sh" provided at https://www.meteor.com/install into the terminal.

## Current Behavior

However, I get an "SSL certificate problem", and meteor will not install. (See attached image.)

![Screen Shot 2020-06-17 at 14 12 41](https://user-images.githubusercontent.com/27008052/84920429-0b1c5300-b

[2020-06-18 04:49] hubertusputu1 commented on #146
@npaton just checked if we remove the roundIds field from the Game, it could be a breaking changes for some of exist experiment. As i can see it here:

https://github.com/patondev/speed_dating_human_ai/blob/master/client/game/PlayerProfile.jsx#L8-L9

This experiment use `game.roundIds` field. Is it good for us to proceed this changes?

[2020-06-18 06:15] npaton commented on #146
Yes, confirmed, we should not break existing experiments, so let's keep roundIds and make sure they are properly filed. 👍

[2020-06-18 06:15] #146 closed

[2020-06-18 06:54] npaton commented on #147
It looks like you do not have a recent root TLS certificates update (the root cert on install.meteor.com is from 2016). I would highly recommend you to [upgrade your installation of macOS](https://support.apple.com/en-us/HT201475). El Capitan is 5 years old, and is no longer supported by Apple since 2018, which means you are not getting security updates (including the large amount of serious CPU f

[2020-06-18 06:54] #147 closed

[2020-06-18 15:08] bmtappin commented on #147
Thanks Nicolas!! I will try that out and see if it works.

Cheers,
Ben

On Thu, Jun 18, 2020 at 7:55 AM Nicolas Paton <notifications@github.com>
wrote:

--
Ben Tappin
Postdoctoral Associate, Human Cooperation Lab
Massachusetts Institute of Technology
https://bmtappin.rbind.io/

[2020-06-18 22:30] wrahool opened #150 "Meteo-Empirica compatibility issue"
Unable to start Meteor server on Ubuntu 18.04

## Expected Behavior
When I enter 'meteor' in an empirica folder, the server should start and I should be able to go to localhost:3000 to see it running.

## Current Behavior
When I enter meteor I get:

[code]
I tried with

`meteor --allow-incompatible-update`

it produced the same error.

The same problem happens on another Windows 10 PC as well.

##

[2020-06-19 11:00] bmtappin commented on #150
I also get this same error. (After having updated to the latest macOS and successfully installing meteor.)

[2020-06-19 11:02] bmtappin commented on #147
Follow-up: Updating macOS solved the issue. Thanks again!

[2020-06-19 11:43] hubertusputu1 commented on #150
Hi @wrahool @bmtappin , can you please try and reinstalling app with `create-empirica-app`? We have fixed it on the latest version, please let us know if the problem still occur. Thank you.

[2020-06-19 12:12] bmtappin commented on #150
That worked for me, problem solved. Thanks!

On Fri, Jun 19, 2020 at 12:43 PM Hubertus Putu Widya Primanta Nugraha <
notifications@github.com> wrote:

--
Ben Tappin
Postdoctoral Associate, Human Cooperation Lab
Massachusetts Institute of Technology
https://bmtappin.rbind.io/

[2020-06-19 15:11] #150 closed

[2020-06-20 19:45] wrahool commented on #150
Hi, I'm sorry. That didn't solve the problem for me. On Ubuntu, I now get this error (I'm happy to open a new issue for this).

[code]

On Windows, I'm stuck (for 5 hours now), on this

[code]

[2020-06-21 16:22] npaton commented on #150
Sorry that you are still encountering issues! Both of them look like Meteor problems.

On Linux, maybe this: https://github.com/meteor/meteor/issues/8314.
On Windows, I am not sure, but it is also something related to this: https://github.com/meteor/meteor/issues/10480.

If these problems continue, go ahead and create a new issue for each.

[2020-06-23 05:53] #141 closed

[2020-06-24 21:26] joshua-a-becker commented on #150
Some things that seem to matter—
1. **be sure you are using the latest version of NodeJS (currently 14.x)**
2. be sure to use sudo at the appropriate times, and not at inappropriate times
3. don't do any of this as a root user

**THE FOLLOWING COMMANDS WILL RUN EMPIRICA IN A FRESH DigtalOcean Ubuntu 18.04 BOX**
[code]

[2020-06-24 21:27] joshua-a-becker commented on #150
i have also had this work flawlessly out-of-the-box in windows linux subsystem.  i don't recommend trying to do this in powershell.

[2020-06-24 22:23] joshua-a-becker commented on #150
`ENOMEM` is an out-of-memory error.  this can be resolved by allocating more memory (e.g. swapfile)

For DO:  https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-18-04

[2020-06-24 22:27] wrahool commented on #150
@joshua-a-becker solution worked! Had to add some swap memory as well, and the DO link above works great.

[2020-07-01 00:46] npaton opened #152 "Lobbies of all games in batch timing out, even if no players in game"
A batch with 10 games had one game finished, and 2 running (though abandoned, left in a running state), and the rest never go any players. After a while (not sure when this happened), they all got marked with "lobby_timeout" in the admin and became unplayable.

## Expected Behavior

Games should not timeout without any player ever getting to a lobby.

## Current Behavior

See description above

##

[2020-08-18 18:07] bchivers-stanford opened #155 "Out of Memory issues on blank experiment on t2.micro"
I'm launching the "Quick Start" guide on a t2.micro, and run out of memory before ever launching the server.

## Expected Behavior
I expect to be able to launch the server and see a blank experiment.

## Current Behavior
The server becomes unresponsive before launching the server

## Steps to Reproduce (for bugs)
Here are the commands run from EC2 creation to OOM situation

1. sudo apt update
2. N

[2020-08-18 18:28] joshua-a-becker commented on #155
How much memory do you have?  What happens if you add more?  Please share the error message you got.

[2020-08-18 18:32] bchivers-stanford commented on #155
A t2.micro has 1GB of memory. I ran the same thing on a t2.medium (4GB memory), and saw a peak usage of ~2.5GB.  Maybe there should be some sort of "System Requirements" if a blank experiment needs 2.5GB of RAM?

[2020-08-18 18:46] joshua-a-becker commented on #155
Do you have a swap file?  If so, how big is it?  If not, add a swap file, which is easier than adding hardware memory, sorry I didn't mention that before.  Try 8gb or maybe 16gb.

https://www.digitalocean.com/community/tutorials/how-to-add-swap-space-on-ubuntu-18-04

(I'll bring up the 'system requirements' thing to the other people who do docs.  It's not Empirica, it's Meteor that's using all the

[2020-08-18 18:51] joshua-a-becker commented on #155
sorry for my inconsistency, swap file = page file

[2020-08-18 21:11] bchivers-stanford commented on #155
Using a swap file worked!

Thanks for bringing up the system requirements - I found out the hard way that the "Quick Start" isn't quick at all if you don't have enough RAM or disk space for swap.

[2020-08-18 21:17] joshua-a-becker commented on #155
Maybe we also need a "slow start" including the setup and install.  Want to make it easy.

________________________________
From: Brian Chivers <notifications@github.com>
Sent: Tuesday, August 18, 2020 4:11 PM
To: empiricaly/meteor-empirica-core <meteor-empirica-core@noreply.github.com>
Cc: Joshua Becker <joshua.becker@kellogg.northwestern.edu>; Comment <comment@noreply.github.com>
Subject: Re: [e

[2020-08-18 21:57] #155 closed

[2020-08-28 20:19] JamesPHoughton opened #156 "Resource/Logic shared between games"
I'd like to assign manipulations to players in one game based upon the results of players' decisions in another game, possibly in which the games are happening simultaneously. (Essentially because I'm abusing Empirica as a survey platform and I want to do adaptive surveys, but I can see the use case extending to actual multiparty games).

In order to do so, I either want to have some code that run

[2020-09-07 11:25] npaton commented on #156
Hey James. Sorry took me a while to answer! Yeah, no, there's nothing Empirica specific right now. 🤷

The good news is that it should be pretty easy to store stuff in the DB. You can just create and use a new table like this (from the example found [here](https://guide.meteor.com/collections.html#server-collections)):

[code]

That will work easily on the **server-side**. Just declare the Mongo.Co

[2020-09-28 08:02] npaton opened #157 "Fix all security issues and release a new version"
I am seeing a lot of security warnings. They are mostly of low risk given the use case of this platform, but we should be up to date on all security issues.

Please check all npm security warning when creating a new experiment and github security warnings, including on create-empirica-app, fix them, and release new versions of both core and create-empirica-app.

[2020-09-28 09:08] hubertusputu1 opened #158 "Stage still continue when all players go to exit"
When all the players go to exit, the next stage still be called on the game.

## Expected Behavior

we should end the game right away when all players.

## Current Behavior

Continue to the next stage

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:
- Environment name and version (e.g. Chrome 39, node.js 5.4):
- Operating System

[2020-09-29 02:32] hubertusputu1 opened #159 "game.end() cannot be called on callback when time out"
`game.end()` cannot be called on callback when time out

## Expected Behavior

`game.end()` can be called without any error

## Current Behavior

`game.end()` produced an error

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

- Version used:
- Environment name and version (e.g. Chrome 39, node.js 5.4):
- Operating System and version (desktop or

[2020-09-29 05:33] #159 closed

[2020-09-29 05:35] #158 closed

[2020-09-29 07:40] #157 closed

[2020-10-09 17:00] npaton opened #164 "Admin Batch time should be runningAt instead of createdAt"
## Expected Behavior

When the Batch is running, in the Admin the time shown in the table (e.g. "10 minutes ago") should be `batch.runningAt`.

## Current Behavior

It's displaying `batch.createdAt`.

## Possible Solution
If the batch has started if should use `batch.runningAt` in that column. Before it's running, I don't know, it should display nothing?

[2020-10-09 20:12] amaatouq commented on #164
The order of batches shown in the admin UI table should show the ones that are running (and finished) first ordered by runningAt. This should be followed by the ones that are "created" (but not running) ordered by createdAt.

[2020-10-22 23:11] npaton opened #165 "Make the Player Id page customizable"
The Player ID page (the page where the player should enter their ID, after consent, and before intro steps) is generic, and talks about entering an MTurk ID, or an email, or some other identifier. Sometimes the experimenter might want to more clearly describe what identifier they want the player to enter.

We should make the player Id page overridable like the Consent or Lobby pages. We need to ex

[2020-11-02 01:51] npaton opened #166 "Required factors don't always seem to be required when creating a treatment"
## Expected Behavior

Factors marked as required should be required when creating a treatment

## Current Behavior

Can create treatment without factors marked required.

[2020-11-02 07:18] #164 closed

[2020-11-03 01:19] npaton opened #170 "Make IP and User-Agent collection optional"
Currently a player's IP address and User-Agent are stored as part of the lastLogin structure in the Player collection. For privacy reason (GDPR, ethics comities...) we should not be collecting any PII (personally identifiable information).

## Expected Behavior

By default, do not collect PII. Have an option to enable PII collection for those who need it and have their own usage policies in place.

[2020-11-03 01:41] #165 closed

[2020-11-03 01:43] #166 closed

[2020-11-03 03:07] #170 closed

[2020-11-03 11:10] npaton opened #173 "Overriding NewPlayer is too difficult/impossible"
Overriding the NewPlayer component is complex. There is still all the consent management and errors and stuff that has nothing to do with the NewPlayer form. The NewPlayer component should only do NewPlayer stuff, so it's easy to override. I think we can easily extract most behavior out of this component into a parent component.

[2020-11-04 02:37] #173 closed

[2020-11-04 05:01] npaton commented on #152
I think this is due to the botsCount. From Slack, we got another report that looks like this is an issue:

In the game-lobbies/hooks, it looks like we use playerIds.length to determine if the lobby started, and playerIds contains the bot ids (from batches/hooks), so the lobby might be started even if no players are ready. For the readyPlayerCount > 0 test, I think we could just deduct the botsCoun

[2020-11-04 07:30] #112 closed

[2020-11-04 07:31] #111 closed

[2020-11-04 09:34] Karakaii opened #178 "Visual bug with game count for 'complete' batches"
## Expected Behavior
When one creates a "complete" batch, and then creates a new one, the "Game count:" information should show 0 in the new batch (as it would have done when one creates the first batch). will show more than 0 games when creating the new one.

## Current Behavior
When one creates a "complete" batch, and then creates a new one, the "Game count:" information will show more than 0 ga

[2020-11-04 11:29] #152 closed

[2020-11-05 07:00] npaton commented on #178
![image](https://user-images.githubusercontent.com/9678/98208067-9cf80000-1f77-11eb-9395-ed93a5f52069.png)

[2020-11-05 10:45] #178 closed

[2020-11-05 10:46] #110 closed

[2020-11-09 08:28] npaton opened #182 "handleNewPlayer should not take event"
The `handleNewPlayer` callback should not take the event as the first argument, it should only take an id. Canceling the event should be up to the component calling handleNewPlayer. There could be cases where the component does not use an event at all (for example some URL parsing, or a fetch to a 3rd party system).

[2020-11-09 09:45] #182 closed

[2020-11-10 23:33] bchivers-stanford opened #185 "Disable or Remove "New Player" and "Reset Current Session""
I can't find a way to disable the "New Player" and "Reset Current Session" buttons in the header - this is not a capability I'd like to have participants use.

## Expected Behavior
Some way to disable or remove these buttons in the header

## Current Behavior
I think they're just part of Empirica by default

[2020-11-10 23:37] amaatouq commented on #185
All of these are disabled by default on deployment. In case you want to enable them on the deployment, you can do this in the settings file.

[code]

[2020-11-10 23:46] bchivers-stanford commented on #185
I'm not really sure what you mean by "on deployment".  What should the settings file look like if I want them disabled?

[2020-11-11 00:01] amaatouq commented on #185
I mean these things appear in your localhost, but once you deploy it (e.g., on [Galaxy](https://galaxy.meteor.com/)) so other people can access your app, it will be disabled by default.

In any case, you can always create a settings JSON file (e..g, `local.json`) and have this in it:
[code]
Then when run meteor with these settings: `meteor --settings local.json`

You can do the same with your `dep

[2020-11-11 01:00] bchivers-stanford commented on #185
I've tried the `local.json` you have above, with `debug_resetSession` and `debug_newPlayer` as both true and false.  I start my project with `meteor --settings local.json`.  Both times, I am able to use the New Player and Reset Current Session buttons successfully.  Let me know if there's something else I should try or confirm.  Appreciate the help on this.

[2020-11-11 01:06] npaton commented on #185
That should not be possible, it is something we use every day, so I am pretty sure it works (but we might have a new bug). Maybe it's a cache clearing option. Could you try to "hard" reload the page (clearing cache + reload). On chrome mac, you can do Cmd+Shift+R, on Windows, you can do Ctrl+F5 (other browsers: https://fabricdigital.co.nz/blog/how-to-hard-refresh-your-browser-and-clear-cache).

No

[2020-11-11 01:11] npaton commented on #185
My bad, I forgot, in development mode, these buttons will always be active. While developing locally, you can enable "production mode" by passing `--production` to meteor: `meteor --production --settings mysettings.json`. In production mode, these debug buttons/functions will be disabled by default.

[2020-11-11 01:11] amaatouq commented on #185
ops -- let me correct myself. The enabling/disabling of these features in the settings file only works in production mode. In dev mode, it will always be enabled.

When you have real participants, you shouldn't be in development mode, but in deployment/production.

[2020-11-11 01:13] bchivers-stanford commented on #185
The `--production` flag did it! Thank you both!

[2020-11-11 01:13] #185 closed

[2020-11-11 01:17] npaton commented on #185
Note, for clarification, there are practical differences between development and production modes. In development, code is not optimized or minified, so it will run (slightly) slower but build faster for quicker development iterations ; in dev mode debug utilities and logging is enabled (such as these debug buttons, or React introspection capabilities). By default, meteor will run in dev mode. Pro

[2020-11-11 07:44] Karakaii opened #186 "Add batch ids in the Batches tab of /admin"
Hello,
This I feature that I think is useful and that I would like Empirica to have.

## Expected Behavior
I would like to be able to see the ids of batches in the _/admin Batches_ tab. This would make it a lot easier to quickly find which batch is having a problem, currently running, etc. in the data.

## Current Behavior
Currently there is only the batch #. This doesn't show in the downloaded da

[2020-11-11 07:44] Karakaii opened #187 "Add Player Exit Status in admin tab"
Hello,
This I feature that I think is useful and that I would like Empirica to have.

## Expected Behavior
In the _/admin Players_ tab, we can see the player #, id, status (offline, idle, online), and date at which they registered. There is also option to search the table, and a tool to retire player. The tool to retire players is based on their exitStatus; however, there is no exitStatus shown in

[2020-11-11 07:44] Karakaii opened #188 "Add tool to quickly clean the database (but keep treatments, factors, and lobby settings)"
Hello,
This I feature that I think is useful and that I would like Empirica to have.

## Expected Behavior
I often want to 'clean' my database from my tests; namely, I want to get rid of all batches, games, players, logs, etc. so that I start clean and that, when I look at the database or download data, there are none of my previous development tests and checks left. However, it is quite cumbersom

[2020-11-11 16:03] amaatouq commented on #188
You currently can do that from the admin UI when you are in the development mode ("Reset games" is what you are asking for):
![Screen Shot 2020-11-11 at 11 04 03 AM](https://user-images.githubusercontent.com/1761268/98834819-a36df800-240d-11eb-841f-3acfbc1979ee.png)

To do that in deployment, you'll need to enable these options in your settings file with the `debug_resetDatabase` flag. For example

[2020-11-11 17:09] Karakaii commented on #188
Thank you so much for your reply. This is really useful!

[2020-11-18 17:05] JamesPHoughton opened #191 "Wrong error message when factor value is out of range"
## Expected Behavior
If I set a limit on the range of a factor, and try and create a new factor value outside that range, I should get an error message that "The Value is Outside Allowable Range".

## Current Behavior
Instead, I have a type error:

![Screen Shot 2020-11-18 at 12 00 13 PM](https://user-images.githubusercontent.com/4304478/99562296-ed1e8b80-2995-11eb-9866-960a8df8729d.png)

## Possi

[2020-11-19 08:56] #188 closed

[2020-11-20 02:16] #191 closed

[2020-11-24 02:20] #187 closed

[2020-11-25 10:20] Karakaii opened #194 "Cannot get past the 'New Player' id stage"
## Expected Behavior
Players click to consent on the consent form, they are then asked to provide an id, and once this id is submitted they are sent to the intro steps.

## Current Behavior
Once the player submits their id, they are sent back to the consent form. This loop goes on forever.
The only change is that the URL has a new query with ?id= and their id at the end.

It does not work on the l

[2020-11-25 15:14] Karakaii commented on #194
The issue was that I did not realise which version of Empirica was on my version which worked (it was actually working **before** 1.11.0).

I had not realised that there was change to the new player component where `handleNewPlayer()` only takes the id now, and no longer takes the event as an argument. (For the change, see https://github.com/empiricaly/meteor-empirica-core/blob/a9985abf90bda695b9a

[2020-11-25 15:14] #194 closed

[2020-11-30 23:25] amaatouq opened #196 "Cancel games from the admin UI"
Currently we can cancel batches from the admin UI, but not games. It would nice to be able to cancel games too.

[2020-12-01 17:12] bchivers-stanford opened #197 "Remove (or change) identification page"
Hello,

I'd like to remove the page that asks for identification from a player.  This is the page that comes right after the Consent form.  If this identification is required to track the player, then I'm wondering if I can alter it so it randomly generates an ID and moves on.

Let me know if more details are required.  Thanks!

[2020-12-04 08:51] Karakaii commented on #197
Hi,

Here are a few things you can do.

## URL queries
Firstly, if you deploy using a settings.json file, you can set parameters that will grab the id in the URL and skip this identification page. For example, in one of my projects:
`    "public": {
        "playerIdParam": "playerIdKey",
        "playerIdParamExclusive": false
    }`

For a fake example of an app with these settings, I can set th

[2020-12-04 15:05] shawnzam commented on #197
We also use the settings file to skip the identification page. Our settings file also sets the admin password:

[code]

[2020-12-04 17:51] bchivers-stanford commented on #197
Thank you so much! Both of these methods work.

How did you find these solutions?  I don't really like using Issues as a "help!" section, but I couldn't find this answer in this repo or the webpage.

Best,
Brian

[2020-12-04 18:01] amaatouq commented on #197
We definitely can do a better job with the documentation, and we are actively working on that. In the meantime, there is an Empirica slack with a `#tech-support-not-bug-reports` channel for these types of questions. Using GitHub Issues is fine too :)

[2020-12-04 18:38] bchivers-stanford commented on #197
Could you post a link to the Slack channel? I can't find one

Thanks!!

[2020-12-04 18:43] amaatouq commented on #197
Here you go: https://join.slack.com/t/empirica-ly/shared_invite/zt-5y98b811-1ATG7hv5tnkZy~NU7IoGqg

[2020-12-04 18:48] #197 closed

[2020-12-06 06:45] hawkrobe opened #198 "Fill one lobby before assigning players to empty lobbies"
Suppose we start a batch with a game count of 20, where each game requires 3 participants.

Three players trickle in, which would be sufficient to begin a game if they were all assigned to the same Lobby.

Instead, they are randomly assigned to different Lobbies, each ending up with only 1/3 players. At this rate, it will take too long before any particular Lobby accumulates enough players to star

[2020-12-06 07:00] amaatouq commented on #198
First, I would suggest using "complete" randomization rather than "simple" when you create a batch. The "Simple" approach tosses a coin to assign a new participant to a treatment A or B. This of course can, by randomness, generate unequal number of games across treatments. The "Complete" solves this problem by permutation of the assignment sequence. So if you want three games in each treatment, th

[2020-12-06 07:06] amaatouq commented on #198
Here is an example of an ongoing experiment. Notice that all the games in batch 1 will start before participants are assigned to batch 2.
<img width="1241" alt="Screen Shot 2020-12-06 at 2 05 45 AM" src="https://user-images.githubusercontent.com/1761268/101273892-95d73400-3767-11eb-8634-2132dacf5b91.png">

[2020-12-06 07:23] amaatouq commented on #198
Also, most experiments on Empirica required > 20 Mturk participants to show up simultaneously. @JamesPHoughton and @joshua-a-becker have some interesting recruitment strategies to achieve this. Here is a post by @JamesPHoughton about this: https://forum.turkerview.com/threads/launching-multiplayer-games-poor-click-through.2419/

Here is a related issue on recruiting participants from MTurk: https:

[2020-12-06 07:26] amaatouq commented on #186
@hubertusputu1 I think the best solution would be to add the batch # in the exported data files.

[2020-12-06 07:29] amaatouq commented on #198
Here is a related issue on recruiting participants from MTurk: https://github.com/empiricaly/meteor-empirica-core/issues/105

[2020-12-06 07:29] #89 closed

[2020-12-06 18:28] hawkrobe commented on #198
Thanks for your very helpful response!!

I think perhaps the specific use case to think about here is the scenario where I don't have different treatments at all, I just want to run 200 games with exactly the same settings (say, in the simplest case, these are dyadic games, so I recruit 400 turkers to be paired up). This is clearly not the most ambitious use of Empirica but I do think it's a commo

[2020-12-06 18:38] hawkrobe commented on #198
I think this idea suggests a best-of-both-worlds approach where the semantics of `Game Count` are a little clearer in the UI (i.e. it simply corresponds to how many times you want a particular treatment to be hit and you don't need to manually spawn 200 batches) but on the backend, you parse this up into batches where participants get randomly assigned to treatments and the 2nd game in a given tre

[2020-12-06 18:39] amaatouq commented on #198
I see your point. And yes, I am suggesting (for your particular case) to run 200 batches, each with 1 game... or perhaps 20 batches, each with 10 games. This latter will reduce the number of times you need to duplicate the batch and perhaps it won't take too long for games to start. An alternative is to write a script (in any language you want) that inserts 200 batches into the database directly.

[2020-12-06 18:51] amaatouq commented on #198
This is an interesting idea. I think we still need to bundle things in batches in the admin UI. That is, it is common that a user wants to have different treatment frequencies in different batches. For instance, if a game of a particular treatment failed (or didn't start in batch 1), then you want to oversample this treatment in batch 2.

Very soon, we will release a `custom assignment` API. It wi

[2020-12-07 07:03] hawkrobe commented on #198
Thanks for this thoughtful discussion! I like the 'duplicate batch' idea a lot as a quick & easy fix. In principle, that would give a nice refinement of the concepts surrounding the nesting of the randomization design. You have an 'inner loop' specifying simultaneous recruitment for some specified number of games/treatments within a batch and an 'outer loop' that repeats that structure sequentiall

[2020-12-07 14:29] hubertusputu1 commented on #186
@amaatouq Ok noted, thank you for the suggestion, I will try to implement it.

[2020-12-08 10:04] npaton opened #200 "Commitlint not working"
Cannot commit with commitlint active. Got the following error:

[code]

Using Node 14.5.0.

[2020-12-09 00:30] #186 closed

[2020-12-09 00:32] npaton commented on #186
This was automatically closed, but we can reopen if you disagree. I don't think we should be exposing database IDs in the Admin UI. The index number is easier to read and identify, but indeed we were not exporting it. We're pushing an update to fix that. @Karakaii Let me know if this will solve your issue. ⛵

[2020-12-09 09:51] Karakaii commented on #186
Hello, I think the batch # in the export files now does help. Will get back to you if I see an issue with it.
Thank you for working on this!

[2020-12-30 21:45] joshua-a-becker commented on #198
"if there is no random assignment, then there is no experiment, no?"

This is not the case, I think.  The basic idea of an experiment is a repeatable trial, like in probability theory but also empirically in something like Michael Faraday's work.  So e.g. maybe you want to get a lot of text data from some stimulus.

I can also imagine a fairly likely use-case where someone wants to run dyads with

[2021-01-03 21:17] npaton opened #204 "Make `Empirica.waiting()` override single player waiting screen as well"
Currently, `Empirica.waiting()` only overrides the multi-player waiting screen between stages. I see no reason it wouldn't also replace the single-player waiting screen (which I think it the standard loading component at the moment).

[2021-01-05 15:58] jwburton opened #205 "Problem with Galaxy deployment and version 1.12.0"
## Expected Behavior
- Deployed version of the experiment to run the same as the local version on my machine when using Empirica Core 1.12.0.

## Current Behavior
- Experiment performs fine during local testing, but is a blank white screen when deployed to Galaxy,
- Here's the error messages when checking the Javascript console on the site of the deployed experiment:
<img width="1363" alt="Screens

[2021-01-07 09:02] hawkrobe opened #206 "Exposing an explicit callback for player disconnect"
## Expected Behavior

Dropouts are an unfortunate reality of big online experiments and we usually want something to happen when a client disconnects or goes idle. For example, we may want to go ahead and end the game and send the remaining players to exit surveys, we may want to pause the game and notify the other players that they will be waiting for 30 seconds for the offline player to reconnec

[2021-01-14 00:55] hawkrobe commented on #205
I can confirm and reproduce this bug even when running locally with `--production` flag.

[2021-01-19 03:05] npaton opened #207 "Expose treatment in ExitSteps if player exited in lobby"
We have to expose the gameLobby in place of the game. Treatment should then be available in exit steps.

[2021-01-21 08:55] Karakaii opened #210 "Expose time remaining in gameLobby"
One might want to show a timer in a personalised Lobby, so that participants know when the Lobby might timeout.
However, this is not possible to do so for now because there is no property that contains how much time is left before a lobby timeout. It would be useful to expose this property.

Note that this might have to be exposed in different ways depending on whether the timeout is set to the Lo

[2021-01-27 22:42] Karakaii opened #211 "Players obtained from game.getPlayers() do not function the same as the player prop (no .get())"
In the `callbacks.js`, in `Empirica.onStageEnd`, I am trying to get and set information to a player. The `player `isn't a parameter of this callback, but we can get the Players with `game.getPlayers()`. However, these players do not function the same way as `player `as a prop; you cannot use `.get()` and `.set()`. I would suppose that it should be more consistent. I can access the information by g

[2021-02-01 02:51] npaton commented on #205
https://github.com/empiricaly/meteor-empirica-core/blob/8eec8f2ebedd7def7d059af0facadbd40f46a52e/ui/components/Public.jsx#L5 `public.public`

[2021-02-01 02:54] #207 closed

[2021-02-01 03:04] npaton commented on #211
`game.getPlayers()` is an internal/private API. You should always use `game.players`. I apologize for the confusion. In order to remove the possibility for mistake here, we are removing `game.getPlayers()`. If anyone is using this API, please change your code to use `game.players`. This is a breaking change if you were using the internal API. Our apologies for the misleading API and lacking docume

[2021-02-01 04:13] #204 closed

[2021-02-01 04:13] #205 closed

[2021-02-01 04:13] #210 closed

[2021-02-01 04:44] npaton commented on #211
Marking this one as open until it is reported on in Slack to people who might be affected. 👍

[2021-02-01 07:16] Karakaii commented on #211
My apologies, for some reason I was convinced that `game.players` did not work, but it seems like it does. I must have had a typo or small mistake and then I saw `.getPlayer()` and thought that things had changed... Thank you for looking into this!

[2021-02-01 07:20] npaton commented on #211
@Karakaii No problem, the API isn't very clear, we really need to document it better. 👍

[2021-02-01 07:21] npaton commented on #211
I will close this since @Karakaii has relayed the info on the aforementioned thread. Note, not deployed, will be later today.

[2021-02-01 07:21] #211 closed

[2021-02-01 08:54] #196 closed

[2021-02-12 00:12] npaton opened #223 "Add player.exitReason to export!"
Somehow `player.exitReason` is not extracted.

[2021-02-19 17:26] Karakaii opened #224 "Admin panel button to reset treatments and factors (without resetting games)"
Currently there are two buttons in the admin panel that one can use to affect the database your app is connected to:
- `Reset Games` to get rid of the batches, games, and players, etc. but not the treatments and factors.
- `Reset Entire App` to get rid of everything (games, treatments, factors, and else).

I have come across situations where it would be useful to have button to reset the treatment

[2021-02-20 01:39] npaton commented on #224
Unfortunately, games are associated to treatment, factors and game lobby configurations, we cannot delete treatments/factors and keep the corresponding games. Well, we could but we wouldn't know the treatments/factors of the games.

[2021-02-25 02:38] jcheong0428 commented on #198
I second the need for a rolling assignment. Alternatively, a lobby configuration to designate the max # of players assigned to each game would also be helpful.

In use cases like @hawkrobe's, where you want to run 20 games each requiring 3 participants, it would be great to specify that each game is assigned a maximum of _n_ number of players (max-player) into the pre-lobby state. If I set this va

[2021-02-25 02:48] amaatouq commented on #198
@jcheong0428 We over-assign players to games because some of these players might not finish the instructions, fail the quiz, leave their computers, etc. What we do once the game starts, the remaining over-assigned players will be reassigned to other games of the same treatment in the same batch. If there aren’t other available games in the same batch, they’ll be reassigned to games of the same tre

[2021-02-25 14:29] joshua-a-becker commented on #198
sorry i missed this thread previously—i'm not super hooked into GitHub.

re: rolling assignment.. this is i think something a lot of experimenters want, but it's not optimal.  IMHO, empirica defaults should reflect best practice.

it's feasible to use the current version with crowdsourcing platforms and get large groups, one just has to employ a certain strategy for recruitment.  i have gotten 100

[2021-02-26 01:45] hawkrobe commented on #198
to be clear @joshua-a-becker, I don't think this thread is about people having problems getting large groups, or wanting to deviate from best practices for assigning to multiple conditions.

it's about the current clunkiness/unintuitiveness of the UI for best practices in one of the most common special cases: manipulations *within* small networks, where you want to run a large number of 3-4 person

[2021-02-27 08:13] npaton opened #225 "New Player form hangs"
Submitting the player form hangs, nothing happens.

## Expected Behavior

The player should go to the intro steps.

## Current Behavior

Nothing happens. Looking at the websocket, the createNewPlayer rpc is sent, and the player gets created in the DB, but then the playerInfo subscription never updates with the player info.

## Possible Solution

I suspect the initial lobby/batch assignment (after

[2021-03-03 02:41] npaton opened #227 "Make export respect archive"
Archived batches are exported. Do not export archived batches. Same for Treatments, factors and lobby configs.

[2021-03-03 04:40] npaton commented on #227
@amaatouq said:

Makes sense, let's do that 👍

[2021-03-11 10:04] nwrim opened #230 "Intro resets when the batch starts"
When participants are reading the instructions (they are in the opaque state in the batches) and the batch starts, the instruction that the participants are reading refreshes and the page goes to the first page.

## Expected Behavior

Participants should be able to keep reading the instructions without returning to the first page in the instruction.

## Current Behavior

Participants return to the

[2021-03-12 00:59] npaton commented on #230
More feedback about this issue, from Slack:

[2021-03-16 01:35] #230 closed

[2021-03-16 01:50] npaton commented on #230
We have pushed a partial fix. The player should now be brought back to the correct intro step after changing batches. Unfortunately, we might not restore the state of the given intro step they were on. We recommend setting data on the player (using player.get/set instead of React's setState), which will restore the state automatically. We will be looking into improving this situation if possible i

[2021-03-24 01:24] hubertusputu1 opened #233 "Players are still in the game when batch is cancelled"
Game is created with multiple players. when we cancelled the batch when they are in introductions, they don't go on exit page. They can still go through introduction and make it lobby page.

## Expected Behavior

Players should go to exit page if batch is cancelled.

## Current Behavior

Players stay on the game and continue to the lobby.

[2021-03-24 01:25] #223 closed

[2021-03-24 01:27] npaton opened #234 "onRoundStart being called twice"
Intermittently, `onRoundStart` seems to get called twice in this one experiment.

## Expected Behavior

`onRoundStart` (and all callbacks) should ever only be called once.

## Current Behavior

In this experiment, `onRoundStart` logs, and the same logs appear twice (same game ID, same round index).

## Possible Solution

It could be due to a child_process.spawnSync call in this callback. Meteor's

[2021-03-30 03:40] #234 closed

[2021-03-30 03:50] #233 closed

[2021-03-31 17:34] eamanj opened #239 "Allow for retiring custom set of players"
Currently, the only way to retire players is to retire all with a specific exit status. But it's possible that specific small set of players, and not all with their exist status, need to be retired.
Possible solution would be to add a button next to each player that would retire them.

[2021-03-31 20:11] hawkrobe opened #240 "underscore.js accidentally exposed in client-side code"
We're using lodash in our project and ran into a bug where we expected `_.` to resolve to our lodash import but it was instead resolved to the internal API's underscore import. This was difficult to track down because underscore wasn't explicitly imported anywhere in the user's project directory, only in the empirica source.

To prevent these kinds of bugs in the future, it may be better to make u

[2021-03-31 20:37] Karakaii opened #241 "Cancelling last few games rendered every game cancelled"
I had 200 games, with complete randomisation and four different treatments (50 each), Two games had participants who had started but then went away without finishing the games. All the other games were finished. I cancelled these last two games. When I cancelled the last one, it made every game count as cancelled. In the data I have every exitStatus as gameCancelled. (Good thing I saved a final ve

[2021-03-31 21:17] vboyce commented on #240
To clarify, the error occurred before I added a lodash import line to the page (I hadn't realized it wasn't imported in that script given that it was imported and used elsewhere in the project), and led to confusion because of what type of error messages were thrown.

[2021-04-01 01:21] npaton commented on #240
My apologies for the confusion. Indeed underscore is imported globally. This is a remanent of older meteor versions which made underscore globally available. Ideally we should import underscore manually everywhere it's needed, and remove the global import. I do not think this will happen in the near future as it would break too many existing experiments. We are working on a larger update that will

[2021-04-01 02:54] npaton commented on #241
We just fixed this issue in 1.15.4 2 days ago. From your description we were not sure if the finished games got a "cancelled" `status`. From the rest of your description and our tests, we don't think so. But indeed, the players' `exitStatus` would be incorrectly set to cancelled previously. This should no longer be the case in the latest version.

We tested on 1.15.3 and could reproduce the issues

[2021-04-01 03:12] npaton commented on #241
Scratch that, we made a mistake in our tests, the players' exitStatus is fixed, but the other games do get cancelled, working on it.

[2021-04-01 09:28] #239 closed

[2021-04-01 09:28] #225 closed

[2021-04-01 09:28] #241 closed

[2021-04-01 19:17] hawkrobe commented on #240
Perfect, thanks @npaton -- this definitely makes sense to save for a larger update with other breaking changes.

[2021-04-02 02:15] #240 closed

[2021-04-07 14:21] eamanj opened #245 "onStageEnd called twice"
This issue is similar to https://github.com/empiricaly/meteor-empirica-core/issues/234
In some rounds, the stage end callback is called twice.

[2021-04-20 10:05] Karakaii opened #246 "MongoDB resilience"
Hello,
When running our app we had two instances (different days) of games that would not end when the timer of the last stage reached 0. It tells the players it is waiting on a response from the server. Refreshing doesn't fix it.

This sort of error appears in the logs on galaxy:
`kgxjk
2021-04-15 16:14:16+01:00Exception in setTimeout callback: MongoError: not master and slaveOk=false
kgxjk
2021-

[2021-04-20 15:37] Karakaii opened #247 "Batch erroneously counted as running prevents players from joining new batches"
Run a batch with 3 games: 2 finished and one was `lobby cancelled`. The batch is still considered as "running" (see screenshot).

![image](https://user-images.githubusercontent.com/60732953/115424293-7b719480-a1f6-11eb-9362-6a6cd94cf566.png)

Created a new batch with new games and started it.

Players can't enter their new player id (they click the button but nothing happens, they can't move on to

[2021-05-21 09:37] Karakaii opened #251 "Reset Games and Reset Entire App deletes custom collections"
In my MongoDB database, I have a collection where I put some configurations and then access those with Meteor. However, whenever I use `Reset Games` or `Reset Entire App` in the admin panel, it deletes that collection. I would except these buttons to delete specific collections, not delete all collections but X. I regularly want to delete the games I use for testing, but I don't want to insert my

[2021-05-25 14:54] Karakaii opened #252 "Header creates white empty space on small screens"
On small screen sizes the header (with the `New Player`, `About, and other buttons) does something weird and creates a big blank on the screen.  I tried this both with Chrome and Firefox. empirica:core 1.16.0.
![image](https://user-images.githubusercontent.com/60732953/119519262-313d7f00-bd71-11eb-8a7e-9dce3fc0e08f.png)

I believe the problem comes from the following styling that is set to this pa

[2021-06-07 08:19] npaton commented on #252
I don't know how much we want to override blueprint, but I guess if we namespace the change into our header, that would be ok. I would accept a PR for this. :)

[2021-06-07 09:08] Karakaii commented on #252
If you point me to the places where the header is created in the Empirica core I could give it a try.

[2021-06-07 11:00] npaton commented on #251
We need to invert the DB deleting from a list of collections to keep to a list of collections to delete.

https://github.com/empiricaly/meteor-empirica-core/blob/master/api/admin/methods.js#L13

[2021-06-08 02:45] npaton commented on #252
I believe it's in here on the NavBar component. You have a `.header` class that might be helpful to isolate the change.

`ui/components/Public.jsx`

[2021-07-01 09:45] Karakaii opened #255 "Players are sent to gameFull when they should be sent to the next batch"
I am running a big multiplayer study where I need many people to come in at the same time to form groups. To make sure my groups fill in and that I don't get games that half fill and then fail at the lobby, I open multiple batches, each with a game of the same treatment. Once the first batch is complete, participant are sent to the next one. However, in that process, I get a few participants who a

[2021-07-01 09:54] Karakaii opened #256 "Reveal lobby settings of batches created in admin tab"
Just to make sure that I created the right batches and games, it would be nice if we could see the lobby setting that has been chosen for a particular game once it is created in the admin tab.

[2021-07-13 03:11] #251 closed

[2021-07-13 06:51] Karakaii commented on #255
Hello,
An update on this. We had 1383 participants, 92 were sent to gameFull.
Whilst this is small percentage, a gameFull should not have occurred.

For most of the participants we didn't have a special timing. People just came in from the recruitment platform. For some of the participants we had a system where we had participants come in at the same time to the consent page (not the lobby itself)

[2021-07-14 01:14] npaton commented on #255
Hey @Karakaii. We have managed to reproduce the issue and are working on a fix. Hopefull out today. 🙌

[2021-07-14 03:40] #255 closed

[2021-07-14 06:49] Karakaii commented on #255
Awesome! Thank you!

[2021-07-14 07:04] npaton commented on #255
@Karakaii Let us know if it does indeed fix your issue. We were pretty convinced we could reproduce it, but it's hard to validate against 100s of players in a real-world situation. 👍

[2021-11-23 18:31] dawnwages opened #261 "When someone exits early for game, game continues to wait for player"
## Expected Behavior
When a player exits early with `player.exit("playerQuit")`, the user is brought to the exit steps. The other players will be able to continue the game without having to wait for the exited player. This will have a cascade of affects like removing the player from chat, ignoring player confirmation on `Wait` component / `longTermEngagement` Treatment handled outside of core on c

[2021-11-23 18:43] dawnwages commented on #261
@npaton Thanks for checking this out for me!

[2021-11-23 18:44] dawnwages commented on #261
Thanks for checking this out for me @npaton

[2021-11-24 08:04] npaton commented on #261
I see, indeed, this is a problem 😅 Thank you for the report. We will look into this, hopefully pushing a fix soon.

[2021-11-25 02:08] #261 closed

[2021-11-25 02:09] #252 closed

[2021-11-25 04:43] npaton commented on #261
@dawnwages This should be fixed, let us know otherwise ⛵

[2021-12-06 23:31] amaatouq commented on #206
Now we have this in v2.

[2021-12-06 23:31] #206 closed

[2021-12-10 15:24] dawnwages opened #264 ""Skip Game" a functionality of Core"
## Expected Behavior
In the `Multi-Task-App` modification, where multiple tasks are ordered in one game, we would like to be able to click "skip task" (or some variation) and move through the stages associated with that game until it we are at the next task. This feature works only if treatment specifies that users can `game.treatment.skipRoundEarly` === `true`

There is an attempt created in: htt

[2021-12-14 01:55] npaton commented on #264
You want to skip a full round, right? Or multiple rounds? Adding this to Empirica might be tricky, but we can take a look.

I do not have access to https://github.com/Watts-Lab/multi-task-empirica to look at the examples.

[2021-12-14 01:59] shawnzam commented on #264
I have added you to the repo @npaton

[2021-12-14 01:59] shawnzam commented on #264
The issue is that updates to the game, round, stage, etc. do no sync with the server when using dynamic imports for react components.

[2021-12-14 11:21] npaton commented on #264
I see. I think it would be quite difficult to do within core. But if the main problem is the UI popping around, it could be due to the async import. By the time the import callback is called, the next one is triggered, and they might load out of order and generally create a mess. I think it might be solved with a variable on the component class, to check whether the import callback should be execu

[2022-09-28 01:45] stevenrick opened #270 "Empirica v2 fails to start again after completing a game and shutting down server"
## Expected Behavior

Empirica should start.

## Current Behavior

Fails to start when run a second time after a game is completed during first run. The `empirica` command errors out.

[code]

## Possible Solution

The issue might be due to a failure to correctly handle SIGINT and terminate all processes cleanly leading to something holding onto and blocking ports. This issue only seems to arise a

[2022-09-28 02:06] stevenrick opened #271 "[Request] Create uninstall command for v2"
## Expected Behavior

A simple `empirica uninstall` command could be created for use.

## Current Behavior

Currently a user must find where empirica has installed itself and remove it directly a la `whereis empirica` and subsequent `sudo rm /path/to/empirica`

## Possible Solution

Add a command parameter that removes the executable installed by the setup script

## Context

Given that v2 install

[2022-10-01 03:07] npaton commented on #270
Thank you, @stevenrick, for reporting this!

From the logs, it looks like you have encountered a bug that was reported earlier this week, and that was fixed today: https://github.com/empiricaly/empirica/issues/155. This bug would make the server crash and not terminate the node child processes correctly, leading to not being able to restart due to port reuse. In normal scenarios, the child process

[2022-10-03 14:36] stevenrick commented on #270
Thanks for the details @npaton

To follow up on this I removed all old remnants of empirica and then reinstalled it freshly and followed the same steps above from the original bug. I am now seeing the following error loop after restarting empirica (my step 5):

`[UnhandledPromiseRejection: This error originated either by throwing inside of an async function without a catch block, or by rejecting a

[2022-10-04 07:06] npaton commented on #270
Hum, I am not sure. I will take a closer look soon.

It could be related to this issue: https://github.com/empiricaly/empirica/issues/135. Did you make any changes to the callbacks, or is this a clean new project?

Note: I will move this ticket to the main repo.